In [2]:
import pandas as pd

In [3]:
data = pd.read_excel('GI and POA Survey Data.xls')

In [4]:
data.head()

,id,g14_city,g15_zipcode,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,...,p_agerange,p_status,p41_gender1,p41_gender2,p41_gender3,p41_gender4,p41_gender5,p46_caregiving1,p46_caregiving2,p46_caregiving3
0,N3R8BXQE4K,BUFFALO,14201.0,Erie County,Western New York,Urban,Asian or Pacific Islander,White,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E555HATF05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25-34,Withdrawn,gender_oth,twospirit,woman,NaN,NaN,no_caregiving,NaN,NaN
2,0LTH6QJQH8,New York City,10040.0,New York County (Manhattan),New York City,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R3S4V21D40,Manhattan,10031.0,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BZEFVJAYBT,Brooklyn,11238.0,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23797 entries, 0 to 23796
Columns: 180 entries, id to p46_caregiving3
dtypes: float64(2), object(178)
memory usage: 32.7+ MB

In [5]:
data.describe()

        g15_zipcode         p_age
count  21921.000000  13066.000000
mean   11190.702386     36.244528
std     1090.929157     12.998512
min    10001.000000      0.000000
25%    10314.000000     27.000000
50%    11216.000000     33.000000
75%    11361.000000     42.000000
max    14905.000000    121.000000

In [6]:
data.shape

(23797, 180)

In [7]:
len(data['id'].unique())

23797

In [8]:
g_data = data.iloc[:, 0:57]
g_data.head()

,id,g14_city,g15_zipcode,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,...,g32b_enrolled_name2,g32b_enrolled_name3,g32b_enrolled_name4,g32b_enrolled_name5,g32b_enrolled_name6,g32b_enrolled_name7,g32b_enrolled_name8,g32b_enrolled_name9,g_agerange,g_enrollmentstatus
0,N3R8BXQE4K,BUFFALO,14201.0,Erie County,Western New York,Urban,Asian or Pacific Islander,White,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
1,E555HATF05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0LTH6QJQH8,New York City,10040.0,New York County (Manhattan),New York City,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
3,R3S4V21D40,Manhattan,10031.0,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
4,BZEFVJAYBT,Brooklyn,11238.0,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,NaN,NaN,...,Earned Income Tax Credit (EITC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN

In [9]:
p_data = data.iloc[:, 57:]
p_data.head()

,p1_discipline1,p1_discipline2,p1_discipline3,p2_approachtopractice1,p2_approachtopractice2,p2_approachtopractice3,p2_approachtopractice4,p2_approachtopractice5,p2_approachtopractice6,p3_impacts,...,p_agerange,p_status,p41_gender1,p41_gender2,p41_gender3,p41_gender4,p41_gender5,p46_caregiving1,p46_caregiving2,p46_caregiving3
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Interdisciplinary Arts,Visual Arts,Media Arts,collab_artists,collab_nonartists,solo_artist,public_involvement,perform_present_exhibit,teaching_others,Yes,...,25-34,Withdrawn,gender_oth,twospirit,woman,NaN,NaN,no_caregiving,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
p_data['id'] = data['id']
p_data.head()

,p1_discipline1,p1_discipline2,p1_discipline3,p2_approachtopractice1,p2_approachtopractice2,p2_approachtopractice3,p2_approachtopractice4,p2_approachtopractice5,p2_approachtopractice6,p3_impacts,...,p_status,p41_gender1,p41_gender2,p41_gender3,p41_gender4,p41_gender5,p46_caregiving1,p46_caregiving2,p46_caregiving3,id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N3R8BXQE4K
1,Interdisciplinary Arts,Visual Arts,Media Arts,collab_artists,collab_nonartists,solo_artist,public_involvement,perform_present_exhibit,teaching_others,Yes,...,Withdrawn,gender_oth,twospirit,woman,NaN,NaN,no_caregiving,NaN,NaN,E555HATF05
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0LTH6QJQH8
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R3S4V21D40
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BZEFVJAYBT

In [11]:
#Dropping null values from g_Data

g_data.columns

Index(['id', 'g14_city', 'g15_zipcode', 'g16_county', 'g17_region',
       'g18_community', 'g20_raceethnicity1', 'g20_raceethnicity2',
       'g20_raceethnicity3', 'g20_raceethnicity4', 'g20_raceethnicity5',
       'g20_raceethnicity6', 'g20_raceethnicity7', 'g20_raceethnicity8',
       'g21_immigrant', 'g22_language', 'g23_gender1', 'g23_gender2',
       'g23_gender3', 'g23_gender4', 'g23_gender5', 'g24_transgender',
       'g25_lgbtqiap', 'g26_deafdisabled', 'g27_providecare1',
       'g27_providecare2', 'g27_providecare3', 'g27_providecare4',
       'g27_providecare5', 'g28_criminallegalsystem',
       'g28b_criminal_findemploy', 'g29_financialsafetynet1',
       'g29_financialsafetynet2', 'g29_financialsafetynet3',
       'g29_financialsafetynet4', 'g29_financialsafetynet5', 'g30_discipline1',
       'g30_discipline2', 'g30_discipline3', 'g31_approach1', 'g31_approach2',
       'g31_approach3', 'g31_approach4', 'g31_approach5', 'g31_approach6',
       'g32_enrolled', 'g32b_enrolled_name1', 'g32b_enrolled_name2',
       'g32b_enrolled_name3', 'g32b_enrolled_name4', 'g32b_enrolled_name5',
       'g32b_enrolled_name6', 'g32b_enrolled_name7', 'g32b_enrolled_name8',
       'g32b_enrolled_name9', 'g_agerange', 'g_enrollmentstatus'],
      dtype='object')

In [12]:
new_gdata = g_data.dropna(subset=['g14_city', 'g15_zipcode', 'g16_county', 'g17_region',
       'g18_community', 'g20_raceethnicity1', 'g20_raceethnicity2',
       'g20_raceethnicity3', 'g20_raceethnicity4', 'g20_raceethnicity5',
       'g20_raceethnicity6', 'g20_raceethnicity7', 'g20_raceethnicity8',
       'g21_immigrant', 'g22_language', 'g23_gender1', 'g23_gender2',
       'g23_gender3', 'g23_gender4', 'g23_gender5', 'g24_transgender',
       'g25_lgbtqiap', 'g26_deafdisabled', 'g27_providecare1',
       'g27_providecare2', 'g27_providecare3', 'g27_providecare4',
       'g27_providecare5', 'g28_criminallegalsystem',
       'g28b_criminal_findemploy', 'g29_financialsafetynet1',
       'g29_financialsafetynet2', 'g29_financialsafetynet3',
       'g29_financialsafetynet4', 'g29_financialsafetynet5', 'g30_discipline1',
       'g30_discipline2', 'g30_discipline3', 'g31_approach1', 'g31_approach2',
       'g31_approach3', 'g31_approach4', 'g31_approach5', 'g31_approach6',
       'g32_enrolled', 'g32b_enrolled_name1', 'g32b_enrolled_name2',
       'g32b_enrolled_name3', 'g32b_enrolled_name4', 'g32b_enrolled_name5',
       'g32b_enrolled_name6', 'g32b_enrolled_name7', 'g32b_enrolled_name8',
       'g32b_enrolled_name9', 'g_agerange', 'g_enrollmentstatus'], how='all')

new_gdata.head()

,id,g14_city,g15_zipcode,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,...,g32b_enrolled_name2,g32b_enrolled_name3,g32b_enrolled_name4,g32b_enrolled_name5,g32b_enrolled_name6,g32b_enrolled_name7,g32b_enrolled_name8,g32b_enrolled_name9,g_agerange,g_enrollmentstatus
0,N3R8BXQE4K,BUFFALO,14201.0,Erie County,Western New York,Urban,Asian or Pacific Islander,White,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
2,0LTH6QJQH8,New York City,10040.0,New York County (Manhattan),New York City,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
3,R3S4V21D40,Manhattan,10031.0,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
4,BZEFVJAYBT,Brooklyn,11238.0,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,NaN,NaN,...,Earned Income Tax Credit (EITC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
5,4HF20W8D84,New York,11237.0,Kings County (Brooklyn),New York City,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-44,NaN

In [13]:
new_gdata.isnull().sum()

id                              0
g14_city                        1
g15_zipcode                     0
g16_county                      0
g17_region                      0
g18_community                   0
g20_raceethnicity1              0
g20_raceethnicity2          18185
g20_raceethnicity3          21222
g20_raceethnicity4          21794
g20_raceethnicity5          21901
g20_raceethnicity6          21918
g20_raceethnicity7          21920
g20_raceethnicity8          21920
g21_immigrant                   0
g22_language                    0
g23_gender1                     0
g23_gender2                 20344
g23_gender3                 21757
g23_gender4                 21901
g23_gender5                 21917
g24_transgender                 0
g25_lgbtqiap                    0
g26_deafdisabled                0
g27_providecare1                0
g27_providecare2            21298
g27_providecare3            21891
g27_providecare4            21920
g27_providecare5            21920
g28_criminallegalsystem         0
g28b_criminal_findemploy        0
g29_financialsafetynet1         0
g29_financialsafetynet2      7548
g29_financialsafetynet3     14168
g29_financialsafetynet4     19576
g29_financialsafetynet5     21916
g30_discipline1                 0
g30_discipline2                 0
g30_discipline3                 0
g31_approach1                   0
g31_approach2                3681
g31_approach3                7130
g31_approach4               12016
g31_approach5               16343
g31_approach6               19368
g32_enrolled                    0
g32b_enrolled_name1             0
g32b_enrolled_name2         18900
g32b_enrolled_name3         20748
g32b_enrolled_name4         21537
g32b_enrolled_name5         21811
g32b_enrolled_name6         21891
g32b_enrolled_name7         21911
g32b_enrolled_name8         21919
g32b_enrolled_name9         21920
g_agerange                      0
g_enrollmentstatus          19520
dtype: int64

In [14]:
data.shape

(23797, 180)

In [15]:
new_gdata.head()

,id,g14_city,g15_zipcode,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,...,g32b_enrolled_name2,g32b_enrolled_name3,g32b_enrolled_name4,g32b_enrolled_name5,g32b_enrolled_name6,g32b_enrolled_name7,g32b_enrolled_name8,g32b_enrolled_name9,g_agerange,g_enrollmentstatus
0,N3R8BXQE4K,BUFFALO,14201.0,Erie County,Western New York,Urban,Asian or Pacific Islander,White,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
2,0LTH6QJQH8,New York City,10040.0,New York County (Manhattan),New York City,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
3,R3S4V21D40,Manhattan,10031.0,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
4,BZEFVJAYBT,Brooklyn,11238.0,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,NaN,NaN,...,Earned Income Tax Credit (EITC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
5,4HF20W8D84,New York,11237.0,Kings County (Brooklyn),New York City,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-44,NaN

In [16]:
#new_gdata.to_csv('applicant.csv', index=False)

In [17]:
# new_gdata['race'] = new_gdata[['g20_raceethnicity1', 'g20_raceethnicity2', 'g20_raceethnicity3', 'g20_raceethnicity4', 'g20_raceethnicity5', 'g20_raceethnicity6', 'g20_raceethnicity7', 'g20_raceethnicity8']].astype(str).apply(', '.join, axis=1)

# Fill NaN values with empty strings only in the specified columns
columns_to_fill = ['g20_raceethnicity1', 'g20_raceethnicity2', 'g20_raceethnicity3',
                   'g20_raceethnicity4', 'g20_raceethnicity5', 'g20_raceethnicity6',
                   'g20_raceethnicity7', 'g20_raceethnicity8']
new_gdata[columns_to_fill] = new_gdata[columns_to_fill].fillna('')

# Concatenate values of all columns along the rows and separate them with a comma
new_gdata['race'] = new_gdata[columns_to_fill].apply(lambda row: ''.join(row), axis=1)

# Display the DataFrame with the new merged column
new_gdata.head()

<ipython-input-17-552b5f8cb60b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata[columns_to_fill] = new_gdata[columns_to_fill].fillna('')
<ipython-input-17-552b5f8cb60b>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata['race'] = new_gdata[columns_to_fill].apply(lambda row: ''.join(row), axis=1)

,id,g14_city,g15_zipcode,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,...,g32b_enrolled_name3,g32b_enrolled_name4,g32b_enrolled_name5,g32b_enrolled_name6,g32b_enrolled_name7,g32b_enrolled_name8,g32b_enrolled_name9,g_agerange,g_enrollmentstatus,race
0,N3R8BXQE4K,BUFFALO,14201.0,Erie County,Western New York,Urban,Asian or Pacific Islander,White,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN,Asian or Pacific Islander White
2,0LTH6QJQH8,New York City,10040.0,New York County (Manhattan),New York City,Urban,White,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN,White
3,R3S4V21D40,Manhattan,10031.0,New York County (Manhattan),New York City,Urban,Black or African American,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN,Black or African American
4,BZEFVJAYBT,Brooklyn,11238.0,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN,Asian or Pacific Islander Arab or Middle East...
5,4HF20W8D84,New York,11237.0,Kings County (Brooklyn),New York City,Urban,White,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-44,NaN,White

In [18]:
new_gdata.head(10)

,id,g14_city,g15_zipcode,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,...,g32b_enrolled_name3,g32b_enrolled_name4,g32b_enrolled_name5,g32b_enrolled_name6,g32b_enrolled_name7,g32b_enrolled_name8,g32b_enrolled_name9,g_agerange,g_enrollmentstatus,race
0,N3R8BXQE4K,BUFFALO,14201.0,Erie County,Western New York,Urban,Asian or Pacific Islander,White,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN,Asian or Pacific Islander White
2,0LTH6QJQH8,New York City,10040.0,New York County (Manhattan),New York City,Urban,White,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN,White
3,R3S4V21D40,Manhattan,10031.0,New York County (Manhattan),New York City,Urban,Black or African American,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN,Black or African American
4,BZEFVJAYBT,Brooklyn,11238.0,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN,Asian or Pacific Islander Arab or Middle East...
5,4HF20W8D84,New York,11237.0,Kings County (Brooklyn),New York City,Urban,White,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-44,NaN,White
6,DBLJ7W1AJV,New York,10003.0,New York County (Manhattan),New York City,Urban,Hispanic or Latinx,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18-24,NaN,Hispanic or Latinx
7,T8RAL818WX,New York,10030.0,New York County (Manhattan),New York City,Urban,Black or African American,,,,...,Other (please describe),NaN,NaN,NaN,NaN,NaN,NaN,65+,NaN,Black or African American
8,VJSNADKNIA,Ridgewood,11385.0,Queens County,New York City,Urban,White,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-44,NaN,White
9,7LMUEX56QJ,Brooklyn,11206.0,Kings County (Brooklyn),New York City,Urban,White,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-44,Enrolled,White
10,CK5Q7211S1,Binghamton,13905.0,Broome County,Southern Tier,Urban,White,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN,White

In [19]:
new_gdata.drop(columns=['race'], inplace=True)

<ipython-input-19-b3ca3dfb7c8b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata.drop(columns=['race'], inplace=True)

In [20]:
new_gdata['g_enrollmentstatus'].unique()
new_gdata['g_enrollmentstatus'] = new_gdata['g_enrollmentstatus'].fillna('Not Enrolled')
new_gdata.head()

<ipython-input-20-9300eeb16eee>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata['g_enrollmentstatus'] = new_gdata['g_enrollmentstatus'].fillna('Not Enrolled')

,id,g14_city,g15_zipcode,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,...,g32b_enrolled_name2,g32b_enrolled_name3,g32b_enrolled_name4,g32b_enrolled_name5,g32b_enrolled_name6,g32b_enrolled_name7,g32b_enrolled_name8,g32b_enrolled_name9,g_agerange,g_enrollmentstatus
0,N3R8BXQE4K,BUFFALO,14201.0,Erie County,Western New York,Urban,Asian or Pacific Islander,White,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,Not Enrolled
2,0LTH6QJQH8,New York City,10040.0,New York County (Manhattan),New York City,Urban,White,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,Not Enrolled
3,R3S4V21D40,Manhattan,10031.0,New York County (Manhattan),New York City,Urban,Black or African American,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,Not Enrolled
4,BZEFVJAYBT,Brooklyn,11238.0,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,,,...,Earned Income Tax Credit (EITC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,Not Enrolled
5,4HF20W8D84,New York,11237.0,Kings County (Brooklyn),New York City,Urban,White,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-44,Not Enrolled

In [21]:
len(g_data[g_data['g_enrollmentstatus'] == 'Enrolled'])

2400

In [22]:
g_data['g20_raceethnicity1'].unique()

array(['Asian or Pacific Islander ', nan, 'White  ',
       'Black or African American ', 'Hispanic or Latinx ',
       'Arab or Middle Eastern ',
       'Indigenous American, First Nation, or Alaska Native ',
       'Other (please describe)  ', 'I prefer not to answer ',
       'Pacific Islander or Native Hawaiian '], dtype=object)

In [23]:
g_data['g20_raceethnicity2'].unique()

array([' White  ', nan, ' Arab or Middle Eastern ',
       ' Hispanic or Latinx ', ' Black or African American ',
       ' Other (please describe)  ', ' Asian or Pacific Islander ',
       ' Indigenous American, First Nation, or Alaska Native ',
       ' I prefer not to answer ',
       ' Pacific Islander or Native Hawaiian '], dtype=object)

In [24]:
g_data['g20_raceethnicity3'].unique()

array([nan, ' Indigenous American, First Nation, or Alaska Native ',
       ' Black or African American ', ' White  ',
       ' Other (please describe)  ', ' Hispanic or Latinx ',
       ' Arab or Middle Eastern ', ' Asian or Pacific Islander ',
       ' Pacific Islander or Native Hawaiian ',
       ' I prefer not to answer '], dtype=object)

In [25]:
g_data['g20_raceethnicity4'].unique()

array([nan, ' White  ', ' Other (please describe)  ',
       ' Indigenous American, First Nation, or Alaska Native ',
       ' Arab or Middle Eastern ', ' I prefer not to answer ',
       ' Asian or Pacific Islander ', ' Hispanic or Latinx ',
       ' Black or African American ',
       ' Pacific Islander or Native Hawaiian '], dtype=object)

In [26]:
g_data['g20_raceethnicity5'].unique()

array([nan, ' Asian or Pacific Islander [20.2', ' White  [20.7',
       ' Other (please describe)  [20.8',
       ' Indigenous American, First Nation, or Alaska Native [20.5',
       ' Black or African American [20.3'], dtype=object)

In [27]:
g_data['g20_raceethnicity6'].unique()

array([nan, ' Hispanic or Latinx [20.4', ' Arab or Middle Eastern [20.1',
       ' Pacific Islander or Native Hawaiian [20.6'], dtype=object)

In [28]:
g_data['g20_raceethnicity7'].unique()

array([nan, ' White  '], dtype=object)

In [29]:
g_data['g20_raceethnicity8'].unique()

array([nan, ' Other (please describe)  '], dtype=object)

In [30]:
g_data[['g20_raceethnicity1', 'g20_raceethnicity2', 'g20_raceethnicity3',
                   'g20_raceethnicity4', 'g20_raceethnicity5', 'g20_raceethnicity6',
                   'g20_raceethnicity7', 'g20_raceethnicity8']].head(10)

,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,g20_raceethnicity5,g20_raceethnicity6,g20_raceethnicity7,g20_raceethnicity8
0,Asian or Pacific Islander,White,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,White,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Black or African American,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Asian or Pacific Islander,Arab or Middle Eastern,NaN,NaN,NaN,NaN,NaN,NaN
5,White,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Hispanic or Latinx,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Black or African American,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,White,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,White,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
g_data['g23_gender1'].unique()

array(['Woman ', nan, 'Man ', 'Non-binary ', 'Two-spirit ',
       'I prefer not to answer ', 'Other (please describe) '],
      dtype=object)

In [32]:
g_data['g23_gender2'].unique()

array([nan, ' Woman ', ' Non-binary ', ' Man ',
       ' Other (please describe) ', ' I prefer not to answer ',
       ' Two-spirit '], dtype=object)

In [33]:
g_data['g23_gender3'].unique()

array([nan, ' Two-spirit ', ' Man ', ' Other (please describe) ',
       ' Woman ', ' Non-binary ', ' I prefer not to answer '],
      dtype=object)

In [34]:
g_data['g23_gender4'].unique()

array([nan, ' Non-binary ', ' Other (please describe) ', ' Man ',
       ' Woman ', ' Two-spirit '], dtype=object)

In [35]:
g_data.head()

,id,g14_city,g15_zipcode,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,...,g32b_enrolled_name2,g32b_enrolled_name3,g32b_enrolled_name4,g32b_enrolled_name5,g32b_enrolled_name6,g32b_enrolled_name7,g32b_enrolled_name8,g32b_enrolled_name9,g_agerange,g_enrollmentstatus
0,N3R8BXQE4K,BUFFALO,14201.0,Erie County,Western New York,Urban,Asian or Pacific Islander,White,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
1,E555HATF05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0LTH6QJQH8,New York City,10040.0,New York County (Manhattan),New York City,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
3,R3S4V21D40,Manhattan,10031.0,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
4,BZEFVJAYBT,Brooklyn,11238.0,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,NaN,NaN,...,Earned Income Tax Credit (EITC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN

In [36]:
new_gdata.head()

,id,g14_city,g15_zipcode,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,...,g32b_enrolled_name2,g32b_enrolled_name3,g32b_enrolled_name4,g32b_enrolled_name5,g32b_enrolled_name6,g32b_enrolled_name7,g32b_enrolled_name8,g32b_enrolled_name9,g_agerange,g_enrollmentstatus
0,N3R8BXQE4K,BUFFALO,14201.0,Erie County,Western New York,Urban,Asian or Pacific Islander,White,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,Not Enrolled
2,0LTH6QJQH8,New York City,10040.0,New York County (Manhattan),New York City,Urban,White,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,Not Enrolled
3,R3S4V21D40,Manhattan,10031.0,New York County (Manhattan),New York City,Urban,Black or African American,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,Not Enrolled
4,BZEFVJAYBT,Brooklyn,11238.0,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,,,...,Earned Income Tax Credit (EITC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,Not Enrolled
5,4HF20W8D84,New York,11237.0,Kings County (Brooklyn),New York City,Urban,White,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-44,Not Enrolled

In [37]:
new_gdata.columns

Index(['id', 'g14_city', 'g15_zipcode', 'g16_county', 'g17_region',
       'g18_community', 'g20_raceethnicity1', 'g20_raceethnicity2',
       'g20_raceethnicity3', 'g20_raceethnicity4', 'g20_raceethnicity5',
       'g20_raceethnicity6', 'g20_raceethnicity7', 'g20_raceethnicity8',
       'g21_immigrant', 'g22_language', 'g23_gender1', 'g23_gender2',
       'g23_gender3', 'g23_gender4', 'g23_gender5', 'g24_transgender',
       'g25_lgbtqiap', 'g26_deafdisabled', 'g27_providecare1',
       'g27_providecare2', 'g27_providecare3', 'g27_providecare4',
       'g27_providecare5', 'g28_criminallegalsystem',
       'g28b_criminal_findemploy', 'g29_financialsafetynet1',
       'g29_financialsafetynet2', 'g29_financialsafetynet3',
       'g29_financialsafetynet4', 'g29_financialsafetynet5', 'g30_discipline1',
       'g30_discipline2', 'g30_discipline3', 'g31_approach1', 'g31_approach2',
       'g31_approach3', 'g31_approach4', 'g31_approach5', 'g31_approach6',
       'g32_enrolled', 'g32b_enrolled_name1', 'g32b_enrolled_name2',
       'g32b_enrolled_name3', 'g32b_enrolled_name4', 'g32b_enrolled_name5',
       'g32b_enrolled_name6', 'g32b_enrolled_name7', 'g32b_enrolled_name8',
       'g32b_enrolled_name9', 'g_agerange', 'g_enrollmentstatus'],
      dtype='object')

## Preprocessing g_data

In [38]:
# Convert city column to camel case

new_gdata['g14_city'] = new_gdata['g14_city'].astype(str).apply(lambda x: x.title())

<ipython-input-38-bdae8c918c9d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata['g14_city'] = new_gdata['g14_city'].astype(str).apply(lambda x: x.title())

In [39]:
values = new_gdata[new_gdata['g14_city'].str.contains('Union', case=False, na=False)]['g14_city'].unique()
print(values)

['Uniondale' 'Uniondale ' 'Uniondale Ny']

In [40]:
new_gdata[new_gdata['id']=='7VHXGGQ7IP']

,id,g14_city,g15_zipcode,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,...,g32b_enrolled_name2,g32b_enrolled_name3,g32b_enrolled_name4,g32b_enrolled_name5,g32b_enrolled_name6,g32b_enrolled_name7,g32b_enrolled_name8,g32b_enrolled_name9,g_agerange,g_enrollmentstatus
20343,7VHXGGQ7IP,"Woodstock, Ny",12498.0,Ulster County,Mid-Hudson,Rural,Other (please describe),,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-44,Not Enrolled

In [41]:
ids = ['LUC0FP3US5', 'ILYISCUXTP', 'HQ1OTBXC2N', '3HYCIGU1XU', 'L0JGRP9LTB', '9B6OZ48FMJ', 'WN82SWVQI2', '8UOBNA4560', 'EB3QKV6MW9', 'YUAZLXS57X', '53SPZPP9QD', '53HWPHWHWY', 'B99Q6CG52I', 'LF6V7AX5JS', 'S7HRFHLOYX', 'Y4NJ0J7LW9', '3P3VPCYVWG', 'NWREXG692K', '83BQ5ICJWC', 'YIDNLRLZEH', 'QWHK7NQZR6', '5LLRDOJDZ7', 'GWLITC84MV', 'ESL43IIMT2', 'LTH4SB0VQ1', 'PR3YEP11ZX', 'Z5S5X42ZQC', '7GFMFVTROP', '5ZUCGD6LV2', '4WEZ1J9CT9', 'CKW6HOLWEU', '4U8SV84FZA', 'GQN8VHWQQZ', 'UTNVHIEWT8', '5Z17VYIDYG', '0OC4QPHBBF', 'DIMWFXA0SL', 'IO3W61XULE', 'RFCAJIGI4B', 'VK09FDO8NA', 'PQTWJMK8QO', 'UY0TLAC94J', 'LPB1RN049P', 'KY55I6KMXP', '6IUAJ5VZGG', 'PWOJI34D48', '2C8TVXBYGI', 'SKFM4ZWMMZ', 'H2W7YA2T7U', 'RMNJ914GM8', 'NIIRLFSEIS', 'YPY2T2B6F9', 'R0Q9VC52N7', 'C3THEWVWLW', 'SBU5C2RYYA', '1AZDN9JP6G', 'JKMF6PTUVM', '915SGAZDL7', '8EXTKZ4HMH', 'U95MC7V0D1', '62X7WGAKTQ', '4VXQ44HXYO']

# Replace 'g14_city' column value with 'Sunnyside' for the specified IDs
for id in ids:
    new_gdata.loc[new_gdata['id'] == id, 'g14_city'] = 'Sunnyside'

# Check the updated rows for one of the IDs to confirm the change
print(new_gdata[new_gdata['id'] == 'LUC0FP3US5'])

            id   g14_city  g15_zipcode        g16_county     g17_region  \
67  LUC0FP3US5  Sunnyside      11104.0  Queens County     New York City

   g18_community g20_raceethnicity1 g20_raceethnicity2 g20_raceethnicity3  \
67       Urban              White

   g20_raceethnicity4  ... g32b_enrolled_name2 g32b_enrolled_name3  \
67                     ...                 NaN                 NaN

   g32b_enrolled_name4 g32b_enrolled_name5 g32b_enrolled_name6  \
67                 NaN                 NaN                 NaN

   g32b_enrolled_name7 g32b_enrolled_name8 g32b_enrolled_name9 g_agerange  \
67                 NaN                 NaN                 NaN      25-34

   g_enrollmentstatus
67       Not Enrolled

[1 rows x 57 columns]

In [42]:
h_ids = ['24EOJV2IH9', '9YWXSWI5O4', 'N319RZXTE2', '525BTRF47H']

for h_id in h_ids:
    new_gdata.loc[new_gdata['id'] == h_id, 'g14_city'] = 'West Henrietta'

In [43]:
# Define a list of IDs for which 'Baldwin' should be replaced with 'Baldwinsville'
specific_ids = ['TW57M7UGAU', 'DVD6KEZH95', '5LU1OHXI7Y']

# Update the 'g14_city' column for the specific IDs
new_gdata.loc[new_gdata['id'].isin(specific_ids), 'g14_city'] = 'Baldwinsville'
new_gdata.loc[new_gdata['id'] == 'N06KK164Z5', 'g14_city'] = 'Shirley'
new_gdata[new_gdata['g14_city']=='Baldwinsville'].head()

,id,g14_city,g15_zipcode,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,...,g32b_enrolled_name2,g32b_enrolled_name3,g32b_enrolled_name4,g32b_enrolled_name5,g32b_enrolled_name6,g32b_enrolled_name7,g32b_enrolled_name8,g32b_enrolled_name9,g_agerange,g_enrollmentstatus
7592,TW57M7UGAU,Baldwinsville,13027.0,Onondaga County,Central New York,Urban,White,I prefer not to answer,,,...,Section 8 Housing Voucher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-44,Not Enrolled
13025,DVD6KEZH95,Baldwinsville,13027.0,Onondaga County,Central New York,Suburban,White,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,Not Enrolled
16534,5LU1OHXI7Y,Baldwinsville,13027.0,Onondaga County,Central New York,Suburban,White,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18-24,Not Enrolled

In [12]:
#New gdata running function on it

new_gdata1 = g_data.dropna(subset=['g14_city', 'g15_zipcode', 'g16_county', 'g17_region',
       'g18_community', 'g20_raceethnicity1', 'g20_raceethnicity2',
       'g20_raceethnicity3', 'g20_raceethnicity4', 'g20_raceethnicity5',
       'g20_raceethnicity6', 'g20_raceethnicity7', 'g20_raceethnicity8',
       'g21_immigrant', 'g22_language', 'g23_gender1', 'g23_gender2',
       'g23_gender3', 'g23_gender4', 'g23_gender5', 'g24_transgender',
       'g25_lgbtqiap', 'g26_deafdisabled', 'g27_providecare1',
       'g27_providecare2', 'g27_providecare3', 'g27_providecare4',
       'g27_providecare5', 'g28_criminallegalsystem',
       'g28b_criminal_findemploy', 'g29_financialsafetynet1',
       'g29_financialsafetynet2', 'g29_financialsafetynet3',
       'g29_financialsafetynet4', 'g29_financialsafetynet5', 'g30_discipline1',
       'g30_discipline2', 'g30_discipline3', 'g31_approach1', 'g31_approach2',
       'g31_approach3', 'g31_approach4', 'g31_approach5', 'g31_approach6',
       'g32_enrolled', 'g32b_enrolled_name1', 'g32b_enrolled_name2',
       'g32b_enrolled_name3', 'g32b_enrolled_name4', 'g32b_enrolled_name5',
       'g32b_enrolled_name6', 'g32b_enrolled_name7', 'g32b_enrolled_name8',
       'g32b_enrolled_name9', 'g_agerange', 'g_enrollmentstatus'], how='all')

new_gdata1.head()

,id,g14_city,g15_zipcode,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,...,g32b_enrolled_name2,g32b_enrolled_name3,g32b_enrolled_name4,g32b_enrolled_name5,g32b_enrolled_name6,g32b_enrolled_name7,g32b_enrolled_name8,g32b_enrolled_name9,g_agerange,g_enrollmentstatus
0,N3R8BXQE4K,BUFFALO,14201.0,Erie County,Western New York,Urban,Asian or Pacific Islander,White,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
2,0LTH6QJQH8,New York City,10040.0,New York County (Manhattan),New York City,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
3,R3S4V21D40,Manhattan,10031.0,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
4,BZEFVJAYBT,Brooklyn,11238.0,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,NaN,NaN,...,Earned Income Tax Credit (EITC),NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
5,4HF20W8D84,New York,11237.0,Kings County (Brooklyn),New York City,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-44,NaN

In [13]:
# Convert city column to camel case

new_gdata1['g14_city'] = new_gdata1['g14_city'].astype(str).apply(lambda x: x.title())

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\1250405393.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1['g14_city'] = new_gdata1['g14_city'].astype(str).apply(lambda x: x.title())

In [14]:
# Define a function to clean city names
def clean_city1(city):
    city = city.strip().lower()  # Remove leading/trailing spaces and convert to lowercase
    if 'albany' in city:
        return 'Albany'
    elif 'annandale' in city:
        return 'Annandale On Hudson'
    elif 'arverne' in city:
        return 'Arverne'
    elif 'astoria' in city or 'asotira' in city:
        return 'Astoria'
    elif 'atlantic' in city:
        return 'Atlantic Beach'
    elif 'baldwin' in city:
        return 'Baldwin'
    elif 'bay shore' in city or 'bayshore' in city:
        return 'Bay Shore'
    elif 'bayside' in city:
        return 'Bayside'
    elif 'beacon' in city:
        return 'Beacon'
    elif 'bed stuy' in city or 'bed-stuy' in city:
        return 'Bed Stuy'
    elif 'bemus' in city:
        return 'Bemus Point'
    elif 'bronc' in city or 'bronca' in city or 'bronx' in city:
        return 'Bronx'
    elif 'bufalo' in city or 'buffal' in city or 'buffalo' in city:
        return 'Buffalo'
    elif 'clifton' in city:
        return 'Clifton Park'
    elif 'cold spring' in city:
        return 'Cold Spring'
    elif 'copiague' in city:
        return 'Copiague'
    elif 'cornwall on' in city:
        return 'Cornwall On Hudson'
    elif 'corona' in city:
        return 'Corona'
    elif any(keyword in city for keyword in ['cortlandt manor', 'cortlandt mnr', 'cortland manor']):
        return 'Cortland Manor'
    elif any(keyword in city for keyword in ['craryville', 'crarryville']):
        return 'Craryville'
    elif any(keyword in city for keyword in ['croton-on-hudson', 'croton on hudson', 'croton falls']):
        return 'Croton'
    elif 'de kalb' in city:
        return 'De kalb Junction'
    elif any(keyword in city for keyword in ['east elhurst', 'east elmhurst', 'east elmhurts', 'east elmhust']):
        return 'East Elmhurst'
    elif 'ellenville' in city:
        return 'Ellenville'
    elif any(keyword in city for keyword in ['elmhruts', 'elmhurst', 'emhurst']):
        return 'Elmhurst'
    elif 'elmira' in city:
        return 'Elmira'
    elif 'far rockaway' in city or 'farrockaway' in city:
        return 'Far Rockaway'
    elif 'flushing' in city:
        return 'Flushing'
    elif any(keyword in city for keyword in ['fores hills', 'forest hill', 'forest hills']):
        return 'Forest Hills'
    elif any(keyword in city for keyword in ['fresh meadows', 'fresh medows']):
        return 'Fresh Meadows'
    elif 'garden city' in city:
        return 'Garden City'
    elif 'glen cove' in city:
        return 'Glen Cove'
    elif 'hammondsport' in city:
        return 'Hammondsport'
    elif 'hammond' in city:
        return 'Hammond'
    elif 'harlem' in city:
        return 'Harlem'
    elif 'highland lake' in city:
        return 'Highland Lake'
    elif 'highland mills' in city:
        return 'Highland Mills'
    elif any(keyword in city for keyword in ['high falls', 'highland']):
        return 'Highland Falls'
    elif 'hogansburg' in city:
        return 'Hogansburg'
    elif 'hopewell' in city:
        return 'Hopewell Junction'
    elif 'hunting' in city:
        return 'Huntington Station'
    elif 'ithaca' in city:
        return 'Ithaca'
    elif 'jackson h' in city:
        return 'Jackson Heights'
    elif any(keyword in city for keyword in ['jamaica', 'jamacia', 'janaica']):
        return 'Jamaica'
    elif 'keene' in city:
        return 'Keene'
    elif 'kew' in city:
        return 'Kew Gardens'
    elif 'kingston' in city:
        return 'Kingston'
    elif 'lanesville,' in city:
        return 'Lanesville'
        return 'Highland Lake'
    elif 'little neck' in city:
        return 'Little Neck'
    elif 'liver' in city:
        return 'Liverpool'
    elif 'long b' in city:
        return 'Long Beach'
    elif any(keyword in city for keyword in ['long island', 'longisand']):
        return 'Long Island'
    elif 'manhat' in city:
        return 'Manhattan'
    elif 'maspeth' in city:
        return 'Maspeth'
    elif 'massapequa' in city:
        return 'Massapequa'
    elif 'mastic' in city:
        return 'Mastic'
    elif 'middletown' in city:
        return 'Middletown'
    elif 'monticello' in city:
        return 'Monticello'
    elif any(keyword in city for keyword in ['mount vernon', 'mt vernon', 'mt. vernon', 'mt.vernon','mont vernon']):
        return 'Mount Vernon'
    elif any(keyword in city for keyword in ['n baldwin', 'north baldwin']):
        return 'North Baldwin'
    elif any(keyword in city for keyword in ['n massapequa', 'north massapequa']):
        return 'North Massapequa'
    elif 'nassau' in city:
        return 'Nassau'
    elif 'new rochelle' in city:
        return 'New Rochelle'
    elif 'oceanside ny' in city:
        return 'Oceanside'
    elif 'oakland' in city or 'oaklland' in city:
        return 'Oakland Gardens'
    elif 'oneonta,' in city:
        return 'Oneonta'
    elif 'oyster' in city:
        return 'Oyster Bay'
    elif 'ozone' in city or 'ozene' in city:
        return 'Ozone Park'
    elif 'palenville' in city:
        return 'Palenville'
    elif 'pine plains' in city  or 'pine plains, ny' in city:
        return 'Pine Plains'
    elif 'stillwater' in city:
        return 'Stillwater'
    elif any(keyword in city for keyword in ['port jefferson']):
        return 'Port Jefferson'
    elif any(keyword in city for keyword in ['port jervis']):
        return 'Port Jervis'
    elif any(keyword in city for keyword in ['queens']):
        return 'Queens'
    elif any(keyword in city for keyword in ['red hook', 'redhook']):
        return 'Red Hook'
    elif any(keyword in city for keyword in ['rego']):
        return 'Rego Park'
    elif any(keyword in city for keyword in ['richmond hill', 'richmond  hill']):
        return 'Richmond Hill'
    elif any(keyword in city for keyword in ['rideg', 'ridgewo', 'ridgwood']):
        return 'Ridgewood'
    elif any(keyword in city for keyword in ['rosendale']):
        return 'Rosendale'
    elif any(keyword in city for keyword in ['round lake']):
        return 'Round Lake'
    elif any(keyword in city for keyword in ['rochester']):
        return 'Rochester'
    elif any(keyword in city for keyword in ['saint albans']):
        return 'Saint Albans'
    elif any(keyword in city for keyword in ['saranac lake']):
        return 'Saranac Lake'
    elif any(keyword in city for keyword in ['saratoga']):
        return 'Saratoga Springs'
    elif any(keyword in city for keyword in ['saugerties']):
        return 'Saugerties'
    elif any(keyword in city for keyword in ['seneca', 'senca']):
        return 'Seneca Falls'
    elif any(keyword in city for keyword in ['shirley']):
        return 'Shirley'
    elif any(keyword in city for keyword in ['sidney']):
        return 'Sidney'
    elif any(keyword in city for keyword in ['sleepy h', 'sleepyh']):
        return 'Sleepy Hollow'
    elif any(keyword in city for keyword in ['smihtown', 'smithtown']):
        return 'Smithtown'
    elif any(keyword in city for keyword in ['southamp']):
        return 'Southampton'
    elif any(keyword in city for keyword in ['sparrow b', 'sparrowb']):
        return 'Sparrow Bush'
    elif any(keyword in city for keyword in ['sracuse', 'syracuse']):
        return 'Syracuse'
    elif any(keyword in city for keyword in ['st albans', 'st.albans', 'st. albans']):
        return 'St. Albans'
    elif any(keyword in city for keyword in ['st james', 'st. james']):
        return 'St. James'
    elif any(keyword in city for keyword in ['statne', 'staten']):
        return 'Staten Island'
    elif any(keyword in city for keyword in ['uniondale']):
        return 'Uniondale'
    elif any(keyword in city for keyword in ['wappinger']):
        return 'Wappingers Falls'
    elif any(keyword in city for keyword in ['west henrietta']):
        return 'West Henrietta'
    elif any(keyword in city for keyword in ['williston park']):
        return 'Williston Park'
    elif any(keyword in city for keyword in ['woodhaven']):
        return 'Woodhaven'
    elif any(keyword in city for keyword in ['woodisde', 'woodside']):
        return 'Woodside'
    elif any(keyword in city for keyword in ['woodstock']):
        return 'Woodstock'
    elif any(keyword in city for keyword in ['yonkers']):
        return 'Yonkers'
    elif any(keyword in city for keyword in ['booklyn', 'beooklyn', 'bk', 'bklyn', 'broklyn', 'brooklym', 'brooklyb', 'brookly', 'brookln', 'brokklyn', 'brooklyn', 'brookyn', 'broolkyn', 'broolyn', 'broooklyn', 'brrooklyn']):
        return 'Brooklyn'
    elif any(keyword in city for keyword in ['new yorl', 'ne york', 'nee york', 'new yokr', 'new yok', 'new ork', 'new yotk', 'neww york', 'newyork', 'ney york', 'nnew york', 'nw york','nyc']):
        return 'New York City'
    else:
        return city.title()  # Convert other city names to title case

new_gdata1['g14_city'] = new_gdata1['g14_city'].apply(clean_city1)
new_gdata1[new_gdata1['g14_city']=='Woodstock'].head(30)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\520643867.py:220: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1['g14_city'] = new_gdata1['g14_city'].apply(clean_city1)

,id,g14_city,g15_zipcode,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,...,g32b_enrolled_name2,g32b_enrolled_name3,g32b_enrolled_name4,g32b_enrolled_name5,g32b_enrolled_name6,g32b_enrolled_name7,g32b_enrolled_name8,g32b_enrolled_name9,g_agerange,g_enrollmentstatus
487,RMU3JWLC6H,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,White,NaN,NaN,NaN,...,Supplemental Nutrition Assistance Program (SN...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-44,NaN
4269,TMF07D11KE,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
5029,F3OIX8HPTP,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45-54,NaN
5492,CK3XA73LKU,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,White,NaN,NaN,NaN,...,Medicaid for Adults and Child Health Plus,Other (please describe),NaN,NaN,NaN,NaN,NaN,NaN,35-44,Enrolled
10405,FZI17VWO6J,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,I prefer not to answer,NaN,NaN,NaN,...,Medicaid for Adults and Child Health Plus,Child Tax Credit (CTC),Earned Income Tax Credit (EITC),NaN,NaN,NaN,NaN,NaN,45-54,NaN
10424,9A9AKPJD1W,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,White,NaN,NaN,NaN,...,Medicaid for Adults and Child Health Plus,Child Tax Credit (CTC),NaN,NaN,NaN,NaN,NaN,NaN,45-54,NaN
10481,OBW2PLOLI3,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,I prefer not to answer,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65+,NaN
11163,IRPTY0XXYA,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,White,Other (please describe),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-44,Enrolled
11432,DQTTVB9W5M,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,Black or African American,Other (please describe),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45-54,NaN
11773,T3ERUN5MIC,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55-64,NaN
14637,V65BFFT06Y,Woodstock,12498.0,Ulster County,Mid-Hudson,Urban,I prefer not to answer,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45-54,NaN
15577,26EYM1PV6J,Woodstock,12498.0,Ulster County,Mid-Hudson,Suburban,White,NaN,NaN,NaN,...,Other (please describe),NaN,NaN,NaN,NaN,NaN,NaN,NaN,65+,NaN
15672,4R294JUNVB,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,White,NaN,NaN,NaN,...,Other (please describe),NaN,NaN,NaN,NaN,NaN,NaN,NaN,55-64,Enrolled
16715,87NI2660YW,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65+,NaN
17232,32GI46TNLD,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55-64,NaN
17734,EG662ON9WW,Woodstock,12409.0,Ulster County,Mid-Hudson,Rural,White,NaN,NaN,NaN,...,Section 8 Housing Voucher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45-54,NaN
19788,MDHTLRKIIX,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,White,Other (please describe),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
20343,7VHXGGQ7IP,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,Other (please describe),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-44,NaN
20614,5OERR9PK5E,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-34,NaN
21089,XZC2MRW4UC,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65+,NaN
22988,DPB6DH7OV8,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,Hispanic or Latinx,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35-44,NaN
23024,FACLV19YOL,Woodstock,12498.0,Ulster County,Mid-Hudson,Rural,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18-24,NaN

In [15]:
# Define the list of IDs
nyc_ids = ['RYX3CGW7Z7', 'BBPJ23ZQ2A', 'GCAUCE6JAQ', 'OILJ47HUT1', 'WEMC74EPDM', 'UKRBVCJMNP', 'UAKUTVQMT6', 'WRHNR2WTIX',
           '2GN1B766WM', 'HT0RCZ7DFW', '3Y1SJUSRKM', '2ELY0RD076', 'KP0PE90V93', 'L4YQNNXZDJ', 'S978JC8SVM', 'HYEEPCEZ2B',
           'W1QCCENY16', 'OYG1V08W49', 'E3DKXDUFNJ', '8XZC6JHFLK', '5LQ1RU8TZG', 'GWW3PSP4MG', 'ZQEC1JO25M', 'Q7I2PD7JKK',
           '5BMO8WDYO0', '5HZ1LGRKX4', 'DUC2VMM7X0', '6RRIZ0S1U5', 'INMQ6VHS98', 'CCR4P52R7H', '5M6OQWETB8', 'XUQG4P06GM',
           'WVOOQZIBZR', 'G63RUG47BM', 'VK79DMBV0P', 'FQFT98MOPR', '2H7PMFXP5M', 'YQWVZ2NIC4', 'PJBFE67J8E', 'P8EKM19XEU',
           'ZAMYSIK1W7', 'N5V37LP471', '50K3FOMGUV', '5C9HBAN3J3', 'L4Y49WZV3T', 'PG1STMJ6LP', 'L6X1NU2X4S', 'XJDV0DXXKP',
           '7GO3CSZBQ4', 'P1Y91GY7BQ', '3ILUY0IR9B', 'FLTBLCLV6D', 'OUTWNUV5H5', 'J87WY32L52', '3YCREWS5AQ', '0KB2PKLXMJ',
           'OUGJNIVWVJ', 'AO9CKTIXTE', 'UCJI90QV5P', 'GVVB3UF2VM', 'D48WPYXCMJ', 'YTMAEUTM6E', 'KA3RAGL3E4', '3AC9EZBA2K',
           'LG29Z9D0F5', 'C7GNX58IAT', 'ETWYVWFBXL', 'NMG64ZP58P', '1WBJDX6DSS', 'S71KF6SETS', '3YRF0IP0EC', 'PZQVYX8P0E',
           'NZ1VAGX159', 'QED77UWJ81', 'URO4360WM5', '5CDA9FNJ67', 'Z5F0CWK9A8', 'ANU422RCQW', '811SOVTN19', 'FY001U0U3A',
           'SK37WR0ZII', 'WJ5VFB9O8L', 'BGN0Z1UR0M', '5RHHVFAZ80', '10NQRN0QPU', 'YJ9EI3EUYU', '0CXJNLOU8Q', 'IXCFEG0D51',
           'VUC9YCT8L1', 'OZKNX9VJ5V', '1TB2A9NT5C', 'O9V44P3NM3', 'MLAYJC98RB', 'KUKCACIBML', 'QDJWMIXT5J', '61PP0CXUJC',
           '1ASRNWTUVF', '6A0O7P0H80', 'WZQBUPBN0W', 'TGM2QPPIR1', 'XYPMF5STH0', 'U12ZA8R5UZ', 'XZ7ZKZ2K0T', '9SE3STAEAT',
           'WWVNWJQJVH', 'TT3CUPNAJJ', 'NLS50VQ4FQ', 'KJ3YCHL2SE', 'PH4W44NLR3', 'SKHOZNF95Z', 'IDP52PGHC1', 'WG1V36Q2RO',
           'R44GVE2YJP', 'YZUM0YT3N3', 'M8UMSQ5BDK', 'A8TAL5KLLO', 'GUMX2DYTKS', '8G1I2G3XTC', '5K9T0GP48P', 'T2KXVS88JI',
           'KYI7PAD2LW', 'IDSXMHSDRG', 'TDLPEF7M4I', '75ASPQM3WR', 'LUBYUWT0P6', 'AE2CI4DT8I', 'A04DB13LHL', 'IVJPH21QBC',
           '7MCNV10XHW', 'WTLC73Q1DT', 'SGG9742GL4', 'X9YV0EX7D6', '4P0X02HFIJ', 'FBXHRQIC2W', 'NESLM39781', 'DK3QGN96KV',
           '5M3QUNB8SC', '3KKB4A11B6', '2YBX9BK63U', '40IIWL9A1K', 'SLC93B6E98', 'ARBIWGUJ78', '5Y5SY7C7NU', '8ZN61CJGS2',
           'FY5RLXRSS2', 'PV7V318FTL', 'HKN7H7I17C', '2OH077Y6TB', 'NIDVC3JNVM', '9P9OG0S74R', 'RY8D9BA59O', 'UP8UCNH6D4',
           '08KC24RD71', 'WP2YVMCVUR', 'YN7W4YUHZ5', 'CFNK3D7ESY', '0N3HCI00SI', 'GUW4M09PXQ', 'DKPMMU3ZUX', 'IQKTO7UMME',
           'G2L2EQHKMS', '7ZSMTTJP6R', 'JQEQ6RGBAE', '9BC53X1PT8', 'HDAB5R3BI4', '6PUEQB8JEP', 'ALOM4BQDT2', 'FC72WN0GUA',
           '9PO62GLZYZ', '129GEH6G5D', '2H3WWN62WH', 'JV2TD4P1IN', '83CIAEP0IE', 'JEFC63GT12', 'PQQLFALTUM', 'B2L7HWEKP7',
           'Z2IR0W9I61', 'KICWCO2AM5', 'J9266JYN9S', 'MC7JBZ97UB', 'QTE09BJH2V', '91IAJ8OWY3', 'XDN13A2HFI', 'VLY96D2E2P',
           '3E2P1LTJ3N', '2SEROLG5N0', '7Y62YVKTMW', 'DTQHLKH6B6', 'TXZIPUZCFS', 'ZAHUSN0CQI', 'OLHO5TFDUE', 'EV88FY5UBR',
           '7LAIXRE2BE', 'HZ865Y257L', '6RJ0EA2RDG', '4UX09A8XO2', 'GG8GOYF40D', '66STS6QYI1', 'AQTWJVVM7Z', '19B6VCT408',
           'KPYA7243M6', '2BRZGQDVZW', 'FGRCZQ83HY', 'ILBOVXIZ19', 'RFO56NFXTG', '7IIZ93NED9', 'D2RJ0C7TWA', '3FTJJ0HV7D',
           '2PT24ZRJV7', 'SLF6J7W5BE', '7QLGG5RSLU', '0EQOFD5464', '3ELN1S15VR', 'MOX1814IQ2', 'JV4W0VP5D0', '3LF66E5GCP',
           'TZJWKEWGM1', '5Q5VEZ4SL4', 'D48Y60Z3UD', 'ZOACPTEPEQ', '2C38MPNQ2B', 'B41G598C6H', 'OJHD7J9CEC', '2ER6J17HPA',
           'JTZISS4RVB', '1VVHX8YSND', '28BHXB3W5T', 'RTHC2CM45W', 'OS5Y53DY2R', 'OSLUMMKBH5', '7ERTTTHCOE', 'VFCHDWXG8T',
           '3YETC8A59W', 'NF950GGH4W', 'D6ZNV1B8XI', 'QDO1Q7MT7L', 'YP8SSVISIZ', 'ZKQEJ05RBI', '9KX7XBZCI5', '1XPVWACDIQ',
           'Y9BS13U9WO', 'DJOLGA7FY5', 'KP91EJ5RPM', 'KWOX876ZAS', 'RLM7INE78K', 'X9B0NY2HYV', 'S7USYMLMNN', '5OHQLZ7Z90',
           '6OV31G0HQH', 'IG8UG05W2Y']

print(len(nyc_ids))
# Replace the g14_city column value with "New York City" for the specified IDs
for nyc_id in nyc_ids:
    new_gdata1.loc[new_gdata1['id'] == nyc_id, 'g14_city'] = 'New York City'

250

In [16]:
nb_ids = ['AYPK625BZ2', 'K3RNUB35ZB', 'JPYGXKB5RN', 'AAILU4OLYL']
nm_ids = ['HCF0C8EZOG', 'M89Y02BG4Q', 'FVLCSEW80R']
ns_ids = ['SCOSZ2I4LP', 'MUEDUPXOJR', 'W0GO0N1LTZ', 'URURGPP6GM']
srh_ids = ['JANHP4LA30', 'PH2A6AVLQK', 'N9II7AZALG', '1FKF3MVONF', 'SRREVVH4KX', 'AEI47UODMK', 'NUXQ09G5W8']
sop_ids = ['HK0XQ0EZ4M', '3XX4FQHARS', '7FLM4OUQ6O', 'T7AEHYD6H9', '47YAHS27Q6', 'RFWKORC8SA', 'IIXUUOYL5V', '3GMKUO4XNH', '1I817M0EGD', 'NT161VUG9A', 'CYD8NOZUKJ', 'Y8NTQ46AYZ', 'O36PFBMY18', '3P6DQIBF61', 'MET2FVJO2I', 'IMJWU5RUE0', 'BB3JWQAFN6']
ids = ['LUC0FP3US5', 'ILYISCUXTP', 'HQ1OTBXC2N', '3HYCIGU1XU', 'L0JGRP9LTB', '9B6OZ48FMJ', 'WN82SWVQI2', '8UOBNA4560', 'EB3QKV6MW9', 'YUAZLXS57X', '53SPZPP9QD', '53HWPHWHWY', 'B99Q6CG52I', 'LF6V7AX5JS', 'S7HRFHLOYX', 'Y4NJ0J7LW9', '3P3VPCYVWG', 'NWREXG692K', '83BQ5ICJWC', 'YIDNLRLZEH', 'QWHK7NQZR6', '5LLRDOJDZ7', 'GWLITC84MV', 'ESL43IIMT2', 'LTH4SB0VQ1', 'PR3YEP11ZX', 'Z5S5X42ZQC', '7GFMFVTROP', '5ZUCGD6LV2', '4WEZ1J9CT9', 'CKW6HOLWEU', '4U8SV84FZA', 'GQN8VHWQQZ', 'UTNVHIEWT8', '5Z17VYIDYG', '0OC4QPHBBF', 'DIMWFXA0SL', 'IO3W61XULE', 'RFCAJIGI4B', 'VK09FDO8NA', 'PQTWJMK8QO', 'UY0TLAC94J', 'LPB1RN049P', 'KY55I6KMXP', '6IUAJ5VZGG', 'PWOJI34D48', '2C8TVXBYGI', 'SKFM4ZWMMZ', 'H2W7YA2T7U', 'RMNJ914GM8', 'NIIRLFSEIS', 'YPY2T2B6F9', 'R0Q9VC52N7', 'C3THEWVWLW', 'SBU5C2RYYA', '1AZDN9JP6G', 'JKMF6PTUVM', '915SGAZDL7', '8EXTKZ4HMH', 'U95MC7V0D1', '62X7WGAKTQ', '4VXQ44HXYO']
h_ids = ['24EOJV2IH9', '9YWXSWI5O4', 'N319RZXTE2', '525BTRF47H']
es_ids = ['PXZL2GM44K', '0E9YQ8KE6F', 'SYIEV7699X', 'N8E45WV0JA']
np_ids = ['0VLIKINON7', 'S6P38B3KQD']
specific_ids = ['TW57M7UGAU', 'DVD6KEZH95', '5LU1OHXI7Y']
rw_ids = ['GS4XV8824L', 'EMB97FLT4R', 'LA70PY89YI', 'J6NTN7ZL5Z', 'CFDB71NLC1', 'CXMNU0W5DS', 'BBEMWETMMS']
mids = ['NKJCAXMQLZ', 'SF16P0YLLW', 'A6UYGR6O69']


new_gdata1.loc[new_gdata1['id'].isin(specific_ids), 'g14_city'] = 'Baldwinsville'
new_gdata1.loc[new_gdata1['id'] == '6QOMQ79SPO', 'g14_city'] = 'Williston Park'
new_gdata1.loc[new_gdata1['id'] == 'N06KK164Z5', 'g14_city'] = 'Shirley'
new_gdata1.loc[new_gdata1['id'] == 'WZ9IG8BHEY', 'g14_city'] = 'West Bronx'
new_gdata1.loc[new_gdata1['id'] == '5PFPL50N4W', 'g14_city'] = 'East Nassau'
new_gdata1.loc[new_gdata1['id'] == '7F2JAW7CKN', 'g14_city'] = 'Garden City South'
new_gdata1.loc[new_gdata1['id'] == 'ZAAKC7AFEX', 'g14_city'] = 'Lakewood'
new_gdata1.loc[new_gdata1['id'] == '9H2WO2HWII', 'g14_city'] = 'North White Plains'
new_gdata1.loc[new_gdata1['id'] == 'ZCMV9HVZMF', 'g14_city'] = 'Pleasant Valley'
new_gdata1.loc[new_gdata1['id'] == 'YH47F68IOG', 'g14_city'] = 'Richmond Hill'
new_gdata1.loc[new_gdata1['id'] == 'S433SF0QE2', 'g14_city'] = 'West Seneca'
new_gdata1.loc[new_gdata1['id'] == 'W5MAX3UOFB', 'g14_city'] = 'Woodside'
new_gdata1.loc[new_gdata1['id'] == 'GAA014NYXQ', 'g14_city'] = 'Brooklyn'
new_gdata1.loc[new_gdata1['id'] == 'XL6Z3NIS0B', 'g14_city'] = 'Queens'
new_gdata1.loc[new_gdata1['id'] == 'T023XGKL0M', 'g14_city'] = 'New York City'
new_gdata1.loc[new_gdata1['id'] == 'MJQ8485AQI', 'g14_city'] = 'Bronx'
new_gdata1.loc[new_gdata1['id'] == 'KH2XJLIHFV', 'g14_city'] = 'Brooklyn'
new_gdata1.loc[new_gdata1['id'] == 'O92YHC8MDY', 'g14_city'] = 'Brooklyn'
new_gdata1.loc[new_gdata1['id'] == 'F1YFUWDYXH', 'g14_city'] = 'New York City'


for mid in mids:
    new_gdata1.loc[new_gdata1['id'] == mid, 'g4_city'] = 'Manhattan'


for rw_id in rw_ids:
    new_gdata1.loc[new_gdata1['id'] == rw_id, 'g14_city'] = 'Ridgewood'


for np_id in np_ids:
    new_gdata1.loc[new_gdata1['id'] == np_id, 'g14_city'] = 'New Paltz'

for es_id in es_ids:
    new_gdata1.loc[new_gdata1['id'] == es_id, 'g14_city'] = 'East Syracuse'

for h_id in h_ids:
    new_gdata1.loc[new_gdata1['id'] == h_id, 'g14_city'] = 'West Henrietta'

for id in ids:
    new_gdata1.loc[new_gdata1['id'] == id, 'g14_city'] = 'Sunnyside'

for id in sop_ids:
    new_gdata1.loc[new_gdata1['id'] == id, 'g14_city'] = 'South Ozone Park'

for id in srh_ids:
    new_gdata1.loc[new_gdata1['id'] == id, 'g14_city'] = 'South Richmond Hill'

for id in nb_ids:
    new_gdata1.loc[new_gdata1['id'] == id, 'g14_city'] = 'North Baldwin'

for id in nm_ids:
    new_gdata1.loc[new_gdata1['id'] == id, 'g14_city'] = 'North Massapequa'

for id in ns_ids:
    new_gdata1.loc[new_gdata1['id'] == id, 'g14_city'] = 'North Syracuse'

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2261225434.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1.loc[new_gdata1['id'] == mid, 'g4_city'] = 'Manhattan'

In [17]:
# Find the IDs with more than one approach column filled
# multiple_approach_ids = new_gdata[(new_gdata[['g31_approach1', 'g31_approach2', 'g31_approach3', 'g31_approach4', 'g31_approach5', 'g31_approach6']].notna().sum(axis=1) > 1)]['id']

# Update the value of g31_approach1 for these IDs
# new_gdata.loc[new_gdata['id'].isin(multiple_approach_ids), 'g31_approach1'] = 'Practices Multiple Approach'
new_gdata1['g31_approach1'].unique()

array(['I work as a solo artist. ',
       'Performing, presenting, or exhibiting to an audience or viewers is core to my practice. ',
       'I collaborate regularly with other artists. ',
       'Teaching or educating others is core to my practice. ',
       'My practice requires public or community involvement to have meaning. ',
       'I collaborate regularly with other non-arts practitioners. '],
      dtype=object)

In [18]:
approach_counts = new_gdata1['g31_approach1'].value_counts()

print(approach_counts)

I work as a solo artist.                                                                    15272
I collaborate regularly with other artists.                                                  4577
Performing, presenting, or exhibiting to an audience or viewers is core to my practice.       841
Teaching or educating others is core to my practice.                                          510
My practice requires public or community involvement to have meaning.                         488
I collaborate regularly with other non-arts practitioners.                                    233
Name: g31_approach1, dtype: int64

In [19]:
len(new_gdata1['g15_zipcode'].unique())

1062

## Chnage values in approach columns

In [20]:
# Define a dictionary mapping the values to the headings
# Remove trailing spaces from all approach columns
new_gdata1[['g31_approach1', 'g31_approach2', 'g31_approach3', 'g31_approach4', 'g31_approach5', 'g31_approach6']] = new_gdata1[['g31_approach1', 'g31_approach2', 'g31_approach3', 'g31_approach4', 'g31_approach5', 'g31_approach6']].apply(lambda x: x.str.strip())

# Define a dictionary mapping the values to the headings
replacement_dict = {
    'I work as a solo artist.': 'Solo Artist',
    'I collaborate regularly with other artists.': 'Collaboration with Other Artists',
    'I collaborate regularly with other non-arts practitioners.': 'Collaboration with Non-arts Practitioners',
    'My practice requires public or community involvement to have meaning.': 'Practice Requires Public or Community Involvement',
    'Performing, presenting, or exhibiting to an audience or viewers is core to my practice.': 'Performing, Presenting, or Exhibiting to an Audience',
    'Teaching or educating others is core to my practice.': 'Teaching or Educating Others'
}

# Loop through each approach column and replace values without using .loc
for column in ['g31_approach1', 'g31_approach2', 'g31_approach3', 'g31_approach4', 'g31_approach5', 'g31_approach6']:
    new_gdata1[column] = new_gdata1[column].map(replacement_dict)

# Display the updated dataframe
new_gdata1['g31_approach1'].head()

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\1023761834.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[['g31_approach1', 'g31_approach2', 'g31_approach3', 'g31_approach4', 'g31_approach5', 'g31_approach6']] = new_gdata1[['g31_approach1', 'g31_approach2', 'g31_approach3', 'g31_approach4', 'g31_approach5', 'g31_approach6']].apply(lambda x: x.str.strip())
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\1023761834.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[column] = new_gdata1[column].map(replacement_dict)
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\1023761834.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[column] = new_gdata1[column].map(replacement_dict)
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\1023761834.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[column] = new_gdata1[column].map(replacement_dict)
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\1023761834.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[column] = new_gdata1[column].map(replacement_dict)
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\1023761834.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[column] = new_gdata1[column].map(replacement_dict)
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\1023761834.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[column] = new_gdata1[column].map(replacement_dict)

0                                          Solo Artist
2    Performing, Presenting, or Exhibiting to an Au...
3                                          Solo Artist
4                                          Solo Artist
5                                          Solo Artist
Name: g31_approach1, dtype: object

In [21]:
approach_counts = new_gdata1['g31_approach4'].value_counts()

print(approach_counts)

Performing, Presenting, or Exhibiting to an Audience    3417
Practice Requires Public or Community Involvement       2822
Teaching or Educating Others                            2219
Collaboration with Non-arts Practitioners                632
Collaboration with Other Artists                         480
Solo Artist                                              335
Name: g31_approach4, dtype: int64

## Provide Care Column

In [22]:
# Iterate through each column in the DataFrame
for column in new_gdata1.columns:
    # Check if the column is a string type (object)
    if new_gdata1[column].dtype == 'object':
        # Strip leading and trailing spaces from each value in the column
        new_gdata1[column] = new_gdata1[column].str.strip()

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2709268593.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[column] = new_gdata1[column].str.strip()

In [23]:
import pandas as pd

def map_provide_care(value):
    if value.startswith('Yes'):
        return 'Yes'
    elif value == 'No':
        return 'No'

new_gdata1['provide_care_status'] = new_gdata1.apply(lambda row: map_provide_care(row['g27_providecare1'])
                                        if not pd.isnull(row['g27_providecare1'])
                                        else map_provide_care(row['g27_providecare2'])
                                            if not pd.isnull(row['g27_providecare2'])
                                            else map_provide_care(row['g27_providecare3'])
                                                if not pd.isnull(row['g27_providecare3'])
                                                else map_provide_care(row['g27_providecare4'])
                                                    if not pd.isnull(row['g27_providecare4'])
                                                    else map_provide_care(row['g27_providecare5'])
                                                        if not pd.isnull(row['g27_providecare5'])
                                                        else None,
                                    axis=1)

# Display the updated DataFrame
print(new_gdata1)

               id         g14_city  g15_zipcode                   g16_county  \
0      N3R8BXQE4K          Buffalo      14201.0                  Erie County
2      0LTH6QJQH8    New York City      10040.0  New York County (Manhattan)
3      R3S4V21D40        Manhattan      10031.0  New York County (Manhattan)
4      BZEFVJAYBT         Brooklyn      11238.0      Kings County (Brooklyn)
5      4HF20W8D84         New York      11237.0      Kings County (Brooklyn)
...           ...              ...          ...                          ...
23786  T2L67W0132         New York      10034.0  New York County (Manhattan)
23787  XFH2ZTUFVB  Oakland Gardens      11364.0                Queens County
23788  ZRHE2YHWAJ            Bronx      10457.0                 Bronx County
23789  2FDTOSCAXH         Brooklyn      11207.0      Kings County (Brooklyn)
23790  GW843FFWXQ         New York      10033.0  New York County (Manhattan)

             g17_region g18_community         g20_raceethnicity1  \
0      Western New York         Urban  Asian or Pacific Islander
2         New York City         Urban                      White
3         New York City         Urban  Black or African American
4         New York City         Urban  Asian or Pacific Islander
5         New York City         Urban                      White
...                 ...           ...                        ...
23786     New York City         Urban         Hispanic or Latinx
23787     New York City         Urban         Hispanic or Latinx
23788     New York City         Urban         Hispanic or Latinx
23789     New York City         Urban         Hispanic or Latinx
23790     New York City         Urban         Hispanic or Latinx

           g20_raceethnicity2 g20_raceethnicity3 g20_raceethnicity4  ...  \
0                       White                NaN                NaN  ...
2                         NaN                NaN                NaN  ...
3                         NaN                NaN                NaN  ...
4      Arab or Middle Eastern                NaN                NaN  ...
5                         NaN                NaN                NaN  ...
...                       ...                ...                ...  ...
23786                     NaN                NaN                NaN  ...
23787                     NaN                NaN                NaN  ...
23788                     NaN                NaN                NaN  ...
23789                     NaN                NaN                NaN  ...
23790                     NaN                NaN                NaN  ...

      g32b_enrolled_name4 g32b_enrolled_name5 g32b_enrolled_name6  \
0                     NaN                 NaN                 NaN
2                     NaN                 NaN                 NaN
3                     NaN                 NaN                 NaN
4                     NaN                 NaN                 NaN
5                     NaN                 NaN                 NaN
...                   ...                 ...                 ...
23786                 NaN                 NaN                 NaN
23787                 NaN                 NaN                 NaN
23788                 NaN                 NaN                 NaN
23789                 NaN                 NaN                 NaN
23790                 NaN                 NaN                 NaN

      g32b_enrolled_name7 g32b_enrolled_name8 g32b_enrolled_name9 g_agerange  \
0                     NaN                 NaN                 NaN      25-34
2                     NaN                 NaN                 NaN      25-34
3                     NaN                 NaN                 NaN      25-34
4                     NaN                 NaN                 NaN      25-34
5                     NaN                 NaN                 NaN      35-44
...                   ...                 ...                 ...        ...
23786                 NaN                 NaN                 NaN      55-64
23787                 NaN                 NaN                 NaN      55-64
23788                 NaN                 NaN                 NaN      25-34
23789                 NaN                 NaN                 NaN      25-34
23790                 NaN                 NaN                 NaN      55-64

      g_enrollmentstatus g4_city provide_care_status
0                    NaN     NaN                  No
2                    NaN     NaN                  No
3                    NaN     NaN                  No
4                    NaN     NaN                  No
5                    NaN     NaN                  No
...                  ...     ...                 ...
23786                NaN     NaN                  No
23787                NaN     NaN                 Yes
23788                NaN     NaN                 Yes
23789           Enrolled     NaN                  No
23790                NaN     NaN                None

[21921 rows x 59 columns]

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3861188699.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1['provide_care_status'] = new_gdata1.apply(lambda row: map_provide_care(row['g27_providecare1'])

In [24]:
new_gdata1['provide_care_status'].unique()

array(['No', 'Yes', None], dtype=object)

In [25]:
new_gdata1['g_enrollmentstatus'] = new_gdata1['g_enrollmentstatus'].fillna('Not Enrolled')

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\1289408327.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1['g_enrollmentstatus'] = new_gdata1['g_enrollmentstatus'].fillna('Not Enrolled')

In [26]:
new_gdata1['provide_care_status'] = new_gdata1['provide_care_status'].fillna('I prefer not to answer')

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\4283442519.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1['provide_care_status'] = new_gdata1['provide_care_status'].fillna('I prefer not to answer')

In [27]:
def count_yes_entries(row):
    care_columns = ['g27_providecare1', 'g27_providecare2', 'g27_providecare3', 'g27_providecare4', 'g27_providecare5']
    care_options = ['Yes, a child or children', 'Yes, a spouse or partner who is elderly, ill, or disabled', 'Yes, an adult/adults who is/are elderly, ill, or disabled']

    # Initialize count
    count = 0

    # Loop through care columns and count 'Yes' entries for applicable options
    for column in care_columns:
        if row[column] in care_options:
            count += 1

    return count

# Apply the function to each row to create a new column
new_gdata1['provide_care_count'] = new_gdata1.apply(count_yes_entries, axis=1)

# Display the new column
new_gdata1['provide_care_count'].head(20)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\740376987.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1['provide_care_count'] = new_gdata1.apply(count_yes_entries, axis=1)

0     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
17    0
18    0
19    0
20    0
22    1
Name: provide_care_count, dtype: int64

In [28]:
new_gdata1[new_gdata1['provide_care_count'] == 0].head(20)

,id,g14_city,g15_zipcode,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,...,g32b_enrolled_name5,g32b_enrolled_name6,g32b_enrolled_name7,g32b_enrolled_name8,g32b_enrolled_name9,g_agerange,g_enrollmentstatus,g4_city,provide_care_status,provide_care_count
0,N3R8BXQE4K,Buffalo,14201.0,Erie County,Western New York,Urban,Asian or Pacific Islander,White,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,25-34,Not Enrolled,NaN,No,0
2,0LTH6QJQH8,New York City,10040.0,New York County (Manhattan),New York City,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,25-34,Not Enrolled,NaN,No,0
3,R3S4V21D40,Manhattan,10031.0,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,25-34,Not Enrolled,NaN,No,0
4,BZEFVJAYBT,Brooklyn,11238.0,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,25-34,Not Enrolled,NaN,No,0
5,4HF20W8D84,New York,11237.0,Kings County (Brooklyn),New York City,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35-44,Not Enrolled,NaN,No,0
6,DBLJ7W1AJV,New York,10003.0,New York County (Manhattan),New York City,Urban,Hispanic or Latinx,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18-24,Not Enrolled,NaN,No,0
7,T8RAL818WX,New York,10030.0,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,65+,Not Enrolled,NaN,No,0
8,VJSNADKNIA,Ridgewood,11385.0,Queens County,New York City,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35-44,Not Enrolled,NaN,No,0
9,7LMUEX56QJ,Brooklyn,11206.0,Kings County (Brooklyn),New York City,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35-44,Enrolled,NaN,No,0
10,CK5Q7211S1,Binghamton,13905.0,Broome County,Southern Tier,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,25-34,Not Enrolled,NaN,No,0
11,KYO3UY4G8C,New York,10128.0,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,55-64,Not Enrolled,NaN,No,0
12,G3BSHLQTSB,Long Island,11103.0,Queens County,New York City,Urban,White,Hispanic or Latinx,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35-44,Enrolled,NaN,No,0
13,9FW9R9KMUV,Brooklyn,11237.0,Kings County (Brooklyn),New York City,Urban,Black or African American,Hispanic or Latinx,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18-24,Not Enrolled,NaN,No,0
14,IN0O94G3O9,St. Albans,11412.0,Queens County,New York City,Urban,Black or African American,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,65+,Not Enrolled,NaN,No,0
15,CIH1I40YRR,Brooklyn,11218.0,Kings County (Brooklyn),New York City,Urban,Hispanic or Latinx,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,25-34,Not Enrolled,NaN,No,0
17,YV4VD3CW87,New York,11232.0,Kings County (Brooklyn),New York City,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18-24,Enrolled,NaN,No,0
18,HFDFZ3YNBQ,Brooklyn,11226.0,Kings County (Brooklyn),New York City,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,35-44,Not Enrolled,NaN,No,0
19,JMYWUBVZDQ,Brooklyn,11221.0,Kings County (Brooklyn),New York City,Urban,Black or African American,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,25-34,Not Enrolled,NaN,No,0
20,78J9XORDGO,Lake Hill,12448.0,Ulster County,Mid-Hudson,Rural,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,55-64,Not Enrolled,NaN,No,0
24,88MLU3K5VI,Astoria,11102.0,Queens County,New York City,Urban,White,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,25-34,Not Enrolled,NaN,No,0

## Enrolled In Public Benefits

In [29]:
new_gdata1['g32b_enrolled_name1'].unique()

array(['(blank)', 'Medicaid for Adults and Child Health Plus',
       'Supplemental Nutrition Assistance Program (SNAP)',
       'Supplemental Security Income (SSI)', 'Child Tax Credit (CTC)',
       'Health Insurance Marketplace Subsidies',
       'Head Start/Early Head Start', 'Childcare Subsidy (CCDF)',
       'Other (please describe)',
       'Social Security Disability Insurance (SSDI)',
       'Section 8 Housing Voucher', 'Temporary Cash Assistance (TANF)',
       'Women, Infants, and Children Nutrition Program (WIC)',
       'Earned Income Tax Credit (EITC)',
       'Federal Child and Dependent Care Tax Credit (CDCTC)'],
      dtype=object)

In [30]:
import numpy as np

# Replace '(blank)' with NaN in 'g32b_enrolled_name1' column
new_gdata1['g32b_enrolled_name1'] = new_gdata1['g32b_enrolled_name1'].replace('(blank)', np.nan)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3160852576.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1['g32b_enrolled_name1'] = new_gdata1['g32b_enrolled_name1'].replace('(blank)', np.nan)

In [31]:
# Create a new column with the count of different benefits an artist is getting
new_gdata1['total_benefits_count'] = new_gdata1[['g32b_enrolled_name1', 'g32b_enrolled_name2', 'g32b_enrolled_name3',
                                               'g32b_enrolled_name4', 'g32b_enrolled_name5', 'g32b_enrolled_name6',
                                               'g32b_enrolled_name7', 'g32b_enrolled_name8', 'g32b_enrolled_name9']].count(axis=1)
new_gdata1['total_benefits_count'].head(20)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\1988580880.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1['total_benefits_count'] = new_gdata1[['g32b_enrolled_name1', 'g32b_enrolled_name2', 'g32b_enrolled_name3',

0     0
2     1
3     1
4     2
5     0
6     0
7     3
8     2
9     0
10    1
11    0
12    0
13    0
14    0
15    0
17    0
18    0
19    0
20    0
22    0
Name: total_benefits_count, dtype: int64

## Handling values in Approach column

In [32]:
# new_gdata1.drop('consolidated_approaches', axis=1, inplace=True)
new_gdata1['g31_approach1'].unique()

array(['Solo Artist',
       'Performing, Presenting, or Exhibiting to an Audience',
       'Collaboration with Other Artists', 'Teaching or Educating Others',
       'Practice Requires Public or Community Involvement',
       'Collaboration with Non-arts Practitioners'], dtype=object)

In [33]:
# Define the columns
columns_to_add = ['solo', 'performance',
                  'collab_artists', 'teach_edu',
                  'public_involvement',
                  'collab_nonartists']

# Initialize the new columns with zeros
for column in columns_to_add:
    new_gdata1[column] = 0

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\649925338.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\649925338.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\649925338.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\649925338.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\649925338.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\649925338.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[column] = 0

In [34]:
# Define approach values and columns
approach_values = [
    'Solo Artist',
    'Performing, Presenting, or Exhibiting to an Audience',
    'Collaboration with Other Artists',
    'Teaching or Educating Others',
    'Practice Requires Public or Community Involvement',
    'Collaboration with Non-arts Practitioners'
]

approach_cols = ['solo', 'performance', 'collab_artists', 'teach_edu', 'public_involvement', 'collab_nonartists']

# Create a dictionary
approach_dict = dict(zip(approach_values, approach_cols))

print(approach_dict)

{'Solo Artist': 'solo', 'Performing, Presenting, or Exhibiting to an Audience': 'performance', 'Collaboration with Other Artists': 'collab_artists', 'Teaching or Educating Others': 'teach_edu', 'Practice Requires Public or Community Involvement': 'public_involvement', 'Collaboration with Non-arts Practitioners': 'collab_nonartists'}

In [35]:
# Define the approach columns
approach_columns = ['g31_approach1', 'g31_approach2', 'g31_approach3', 'g31_approach4', 'g31_approach5']

# Iterate over each row
for index, row in new_gdata1.iterrows():
    # Iterate over each approach column
    for approach_column in approach_columns:
        approach_value = row[approach_column]

        # Check if the approach value is in the approach_dict keys
        if approach_value in approach_dict.keys():
            # Update the corresponding value column with 1
            value_column = approach_dict[approach_value]
            new_gdata1.at[index, value_column] = 1

In [36]:
new_gdata1.head(20)

,id,g14_city,g15_zipcode,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,...,g4_city,provide_care_status,provide_care_count,total_benefits_count,solo,performance,collab_artists,teach_edu,public_involvement,collab_nonartists
0,N3R8BXQE4K,Buffalo,14201.0,Erie County,Western New York,Urban,Asian or Pacific Islander,White,NaN,NaN,...,NaN,No,0,0,1,0,1,0,0,0
2,0LTH6QJQH8,New York City,10040.0,New York County (Manhattan),New York City,Urban,White,NaN,NaN,NaN,...,NaN,No,0,1,1,1,1,0,1,0
3,R3S4V21D40,Manhattan,10031.0,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,...,NaN,No,0,1,1,0,1,0,0,0
4,BZEFVJAYBT,Brooklyn,11238.0,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,NaN,NaN,...,NaN,No,0,2,1,1,1,0,0,0
5,4HF20W8D84,New York,11237.0,Kings County (Brooklyn),New York City,Urban,White,NaN,NaN,NaN,...,NaN,No,0,0,1,1,1,0,0,0
6,DBLJ7W1AJV,New York,10003.0,New York County (Manhattan),New York City,Urban,Hispanic or Latinx,NaN,NaN,NaN,...,NaN,No,0,0,1,1,0,0,1,0
7,T8RAL818WX,New York,10030.0,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,...,NaN,No,0,3,1,1,0,1,1,0
8,VJSNADKNIA,Ridgewood,11385.0,Queens County,New York City,Urban,White,NaN,NaN,NaN,...,NaN,No,0,2,1,0,1,0,0,1
9,7LMUEX56QJ,Brooklyn,11206.0,Kings County (Brooklyn),New York City,Urban,White,NaN,NaN,NaN,...,NaN,No,0,0,1,0,0,0,0,0
10,CK5Q7211S1,Binghamton,13905.0,Broome County,Southern Tier,Urban,White,NaN,NaN,NaN,...,NaN,No,0,1,1,1,0,1,1,0
11,KYO3UY4G8C,New York,10128.0,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,...,NaN,No,0,0,1,1,1,0,0,1
12,G3BSHLQTSB,Long Island,11103.0,Queens County,New York City,Urban,White,Hispanic or Latinx,NaN,NaN,...,NaN,No,0,0,1,1,1,0,0,0
13,9FW9R9KMUV,Brooklyn,11237.0,Kings County (Brooklyn),New York City,Urban,Black or African American,Hispanic or Latinx,NaN,NaN,...,NaN,No,0,0,1,0,1,0,0,1
14,IN0O94G3O9,St. Albans,11412.0,Queens County,New York City,Urban,Black or African American,NaN,NaN,NaN,...,NaN,No,0,0,1,0,0,0,0,0
15,CIH1I40YRR,Brooklyn,11218.0,Kings County (Brooklyn),New York City,Urban,Hispanic or Latinx,NaN,NaN,NaN,...,NaN,No,0,0,1,1,1,0,1,1
17,YV4VD3CW87,New York,11232.0,Kings County (Brooklyn),New York City,Urban,White,NaN,NaN,NaN,...,NaN,No,0,0,1,0,0,0,1,0
18,HFDFZ3YNBQ,Brooklyn,11226.0,Kings County (Brooklyn),New York City,Urban,White,NaN,NaN,NaN,...,NaN,No,0,0,1,0,1,1,0,0
19,JMYWUBVZDQ,Brooklyn,11221.0,Kings County (Brooklyn),New York City,Urban,Black or African American,NaN,NaN,NaN,...,NaN,No,0,0,1,1,1,0,0,0
20,78J9XORDGO,Lake Hill,12448.0,Ulster County,Mid-Hudson,Rural,White,NaN,NaN,NaN,...,NaN,No,0,0,1,1,1,0,1,1
22,QLFML6Y0RY,Woodside,11377.0,Queens County,New York City,Urban,Asian or Pacific Islander,NaN,NaN,NaN,...,NaN,Yes,1,0,1,0,1,1,1,1

## Fianancial Safety Net Column

In [37]:
new_gdata1['g29_financialsafetynet3'].unique()

array([nan,
       'I have no financial safety net (savings, assets, family resources)',
       'I am vulnerable to a medical emergency',
       'I have unmanageable debt (financial obligations not paid in full each month like credit cards, personal loans, payday loans or short-term debt, student loan debt, housing debt, automobile loan, other)',
       'I am unsure when I will make any income again',
       'None of the above'], dtype=object)

In [38]:
# Define the mapping of long values to short words
mapping = {
    'I have no financial safety net (savings, assets, family resources)': 'No Safety Net',
    'None of the above': 'None',
    'I am vulnerable to a medical emergency': 'Medical Emergency',
    'I am unsure when I will make any income again': 'Unsure Income',
    'I have unmanageable debt (financial obligations not paid in full each month like credit cards, personal loans, payday loans or short-term debt, student loan debt, housing debt, automobile loan, other)': 'Unmanageable Debt'
}

# Iterate over the columns and apply the mapping
for col in ['g29_financialsafetynet1', 'g29_financialsafetynet2', 'g29_financialsafetynet3', 'g29_financialsafetynet4', 'g29_financialsafetynet5']:
    new_gdata1[col] = new_gdata1[col].map(mapping)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2574115541.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[col] = new_gdata1[col].map(mapping)
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2574115541.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[col] = new_gdata1[col].map(mapping)
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2574115541.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[col] = new_gdata1[col].map(mapping)
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2574115541.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[col] = new_gdata1[col].map(mapping)
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2574115541.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[col] = new_gdata1[col].map(mapping)

In [39]:
# Define the column names
column_names = ['f_nosafety', 'f_medical_emerg', 'f_unmanageable', 'f_unsure_income', 'f_none']

# Create new columns with the specified names and fill them with zeros
for col_name in column_names:
    new_gdata1[col_name] = 0

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\40530593.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[col_name] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\40530593.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[col_name] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\40530593.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[col_name] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\40530593.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[col_name] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\40530593.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_gdata1[col_name] = 0

In [40]:
# Define approach values and columns
fnet_values = ['No Safety Net', 'Medical Emergency', 'Unmanageable Debt','Unsure Income', 'None']

fnet_cols = ['f_nosafety', 'f_medical_emerg', 'f_unmanageable', 'f_unsure_income', 'f_none']

# Create a dictionary
fnet_dict = dict(zip(fnet_values, fnet_cols))

print(fnet_dict)

{'No Safety Net': 'f_nosafety', 'Medical Emergency': 'f_medical_emerg', 'Unmanageable Debt': 'f_unmanageable', 'Unsure Income': 'f_unsure_income', 'None': 'f_none'}

In [41]:
# Define the approach columns
financial_net_columns = ['g29_financialsafetynet1', 'g29_financialsafetynet2', 'g29_financialsafetynet3', 'g29_financialsafetynet4', 'g29_financialsafetynet5']

# Iterate over each row
for index, row in new_gdata1.iterrows():
    # Iterate over each approach column
    for fnet_column in financial_net_columns:
        fnet_value = row[fnet_column]

        # Check if the approach value is in the approach_dict keys
        if fnet_value in fnet_dict.keys():
            # Update the corresponding value column with 1
            value_column = fnet_dict[fnet_value]
            new_gdata1.at[index, value_column] = 1

In [42]:
new_gdata1['g30_discipline2'].head(30)

0           Media Arts
2        Literary Arts
3          Visual Arts
4              (blank)
5      Performance Art
6                Craft
7              (blank)
8           Media Arts
9              (blank)
10    Traditional Arts
11               Dance
12               Music
13                Film
14             (blank)
15     Performance Art
17         Visual Arts
18             (blank)
19         Visual Arts
20     Performance Art
22             (blank)
23             (blank)
24       Literary Arts
25               Craft
26     Performance Art
27     Performance Art
28         Visual Arts
29               Craft
30       Literary Arts
31               Craft
32          Media Arts
Name: g30_discipline2, dtype: object

## Handling Gender column

In [43]:
gender_df = new_gdata1[['g23_gender1', 'g23_gender2', 'g23_gender3', 'g23_gender4', 'g23_gender5']]
new_gdata1 = new_gdata1.apply(lambda x: x.str.strip() if x.dtype == 'O' else x)

In [44]:
import numpy as np
# Assuming your new_gdata1 is stored in a new_gdata1Frame called 'new_gdata1'
# Replace 'new_gdata1' with the actual name of your new_gdata1Frame

# Create a new column 'updated_gender1' based on the specified conditions
new_gdata1['updated_gender1'] = np.where(
    ((new_gdata1['g23_gender1'] == 'Man') | (new_gdata1['g23_gender1'] == 'Woman')) &
    (new_gdata1['g23_gender2'] == 'Non-binary') &
    new_gdata1['g23_gender3'].isnull() &
    new_gdata1['g23_gender4'].isnull() &
    new_gdata1['g23_gender5'].isnull(),
    'Non-binary',
    new_gdata1['g23_gender1']  # Keep the original value if conditions are not met
)

# Display the updated new_gdata1Frame
new_gdata1

,id,g14_city,g15_zipcode,g16_county,g17_region,g18_community,g20_raceethnicity1,g20_raceethnicity2,g20_raceethnicity3,g20_raceethnicity4,...,collab_artists,teach_edu,public_involvement,collab_nonartists,f_nosafety,f_medical_emerg,f_unmanageable,f_unsure_income,f_none,updated_gender1
0,N3R8BXQE4K,Buffalo,14201.0,Erie County,Western New York,Urban,Asian or Pacific Islander,White,NaN,NaN,...,1,0,0,0,1,0,1,0,0,Woman
2,0LTH6QJQH8,New York City,10040.0,New York County (Manhattan),New York City,Urban,White,NaN,NaN,NaN,...,1,0,1,0,0,0,0,0,1,Man
3,R3S4V21D40,Manhattan,10031.0,New York County (Manhattan),New York City,Urban,Black or African American,NaN,NaN,NaN,...,1,0,0,0,1,1,1,0,0,Woman
4,BZEFVJAYBT,Brooklyn,11238.0,Kings County (Brooklyn),New York City,Urban,Asian or Pacific Islander,Arab or Middle Eastern,NaN,NaN,...,1,0,0,0,1,0,0,1,0,Man
5,4HF20W8D84,New York,11237.0,Kings County (Brooklyn),New York City,Urban,White,NaN,NaN,NaN,...,1,0,0,0,1,0,1,0,0,Man
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23786,T2L67W0132,New York,10034.0,New York County (Manhattan),New York City,Urban,Hispanic or Latinx,NaN,NaN,NaN,...,1,0,1,1,1,0,0,0,0,Woman
23787,XFH2ZTUFVB,Oakland Gardens,11364.0,Queens County,New York City,Urban,Hispanic or Latinx,NaN,NaN,NaN,...,0,0,1,0,1,0,1,1,0,Woman
23788,ZRHE2YHWAJ,Bronx,10457.0,Bronx County,New York City,Urban,Hispanic or Latinx,NaN,NaN,NaN,...,1,1,0,0,0,1,1,0,0,Woman
23789,2FDTOSCAXH,Brooklyn,11207.0,Kings County (Brooklyn),New York City,Urban,Hispanic or Latinx,NaN,NaN,NaN,...,1,0,0,1,1,0,0,0,0,Woman
23790,GW843FFWXQ,New York,10033.0,New York County (Manhattan),New York City,Urban,Hispanic or Latinx,NaN,NaN,NaN,...,1,0,0,0,0,0,1,0,0,Man

In [45]:
condition = (new_gdata1['g23_gender1'] == 'Non-binary') & ((new_gdata1['g23_gender2'] == 'Man') | (new_gdata1['g23_gender2'] == 'Woman')) & new_gdata1[['g23_gender3', 'g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Non-binary'

In [46]:
# Assuming 'gender1', 'gender2', 'gender3', 'gender4', 'gender5', 'updated_gender1' are columns in your new_gdata1Frame
condition = (new_gdata1['g23_gender1'] == 'Man') & (new_gdata1['g23_gender2'] == 'Woman') & (new_gdata1['g23_gender3'] == 'Non-binary') & new_gdata1[['g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Non-binary'

In [47]:
# Assuming 'gender1', 'gender2', 'gender3', 'gender4', 'gender5', 'updated_gender1' are columns in your new_gdata1Frame
condition = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Woman') & (new_gdata1['g23_gender3'] == 'Man') & new_gdata1[['g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Non-binary'

In [48]:
# Assuming 'gender1', 'gender2', 'gender3', 'gender4', 'gender5', 'updated_gender1' are columns in your new_gdata1Frame
condition = (new_gdata1['g23_gender1'] == 'Man') & (new_gdata1['g23_gender2'] == 'Non-binary') & (new_gdata1['g23_gender3'] == 'Woman') & new_gdata1[['g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Non-binary'

In [49]:
# Assuming 'gender1', 'gender2', 'gender3', 'gender4', 'gender5', 'updated_gender1' are columns in your new_gdata1Frame
condition = (new_gdata1['g23_gender1'] == 'Woman') & (new_gdata1['g23_gender2'] == 'Man') & (new_gdata1['g23_gender3'] == 'Non-binary') & new_gdata1[['g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Non-binary'

In [50]:
# Assuming 'g23_gender1', 'g23_gender2', 'updated_gender1' are columns in your new_gdata1Frame
NB_selected_rows = new_gdata1[new_gdata1['updated_gender1'] == 'Non-binary'][['g23_gender1', 'g23_gender2', 'updated_gender1']]

# Display the shape of the selected rows new_gdata1Frame
print(NB_selected_rows.shape)

(2881, 3)

In [51]:
condition = (new_gdata1['g23_gender1'] == 'Woman') & (new_gdata1['g23_gender2'] == 'Two-spirit') & new_gdata1[['g23_gender3', 'g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Two-spirit'

In [52]:
condition = (new_gdata1['g23_gender1'] == 'Man') & (new_gdata1['g23_gender2'] == 'Two-spirit') & new_gdata1[['g23_gender3', 'g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Two-spirit'

In [53]:
condition = (new_gdata1['g23_gender1'] == 'Two-spirit') & (new_gdata1['g23_gender2'] == 'Woman') & new_gdata1[['g23_gender3', 'g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Two-spirit'

In [54]:
condition = (new_gdata1['g23_gender1'] == 'Two-spirit') & (new_gdata1['g23_gender2'] == 'Man') & new_gdata1[['g23_gender3', 'g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Two-spirit'

In [55]:
condition = (new_gdata1['g23_gender1'] == 'Man') & (new_gdata1['g23_gender2'] == 'Woman') & (new_gdata1['g23_gender3'] == 'Two-spirit') & new_gdata1[['g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Two-spirit'

In [56]:
condition = (new_gdata1['g23_gender1'] == 'Woman') & (new_gdata1['g23_gender2'] == 'Man') & new_gdata1[['g23_gender3', 'g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Two-spirit'

In [57]:
TS_selected_rows = new_gdata1[(new_gdata1['updated_gender1'] == 'Two-spirit')][['g23_gender1', 'g23_gender2', 'updated_gender1']]
TS_selected_rows.shape

(334, 3)

In [58]:
condition = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Other (please describe)') & new_gdata1[['g23_gender3', 'g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [59]:
condition = (new_gdata1['g23_gender1'] == 'Woman') & (new_gdata1['g23_gender2'] == 'Other (please describe)') & new_gdata1[['g23_gender3', 'g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [60]:
condition = (new_gdata1['g23_gender1'] == 'Man') & (new_gdata1['g23_gender2'] == 'Other (please describe)') & new_gdata1[['g23_gender3', 'g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [61]:
condition = (new_gdata1['g23_gender1'] == 'Other (please describe)') & (new_gdata1['g23_gender2'] == 'Non-binary') & new_gdata1[['g23_gender3', 'g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [62]:
condition = (new_gdata1['g23_gender1'] == 'Other (please describe)') & (new_gdata1['g23_gender2'] == 'Woman') & new_gdata1[['g23_gender3', 'g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [63]:
condition = (new_gdata1['g23_gender1'] == 'Other (please describe)') & (new_gdata1['g23_gender2'] == 'Man') & new_gdata1[['g23_gender3', 'g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [64]:
condition = (new_gdata1['g23_gender1'] == 'Two-spirit') & (new_gdata1['g23_gender2'] == 'Other (please describe)') & new_gdata1[['g23_gender3', 'g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [65]:
condition = (new_gdata1['g23_gender1'] == 'Man') & (new_gdata1['g23_gender2'] == 'Non-binary') & (new_gdata1['g23_gender3'] == 'Other (please describe)') & new_gdata1[['g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [66]:
condition = (new_gdata1['g23_gender1'] == 'Woman') & (new_gdata1['g23_gender2'] == 'Non-binary') & (new_gdata1['g23_gender3'] == 'Other (please describe)') & new_gdata1[['g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [67]:
condition = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Man') & (new_gdata1['g23_gender3'] == 'Other (please describe)') & new_gdata1[['g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [68]:
condition = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Woman') & (new_gdata1['g23_gender3'] == 'Other (please describe)') & new_gdata1[['g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [69]:
condition = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Other (please describe)') & (new_gdata1['g23_gender3'] == 'Woman') & new_gdata1[['g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [70]:
condition = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Other (please describe)') & (new_gdata1['g23_gender3'] == 'Man') & new_gdata1[['g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [71]:
condition = (new_gdata1['g23_gender1'] == 'Other (please describe)') & (new_gdata1['g23_gender2'] == 'Non-binary') & (new_gdata1['g23_gender3'] == 'Woman') & new_gdata1[['g23_gender4', 'g23_gender5']].isnull().all(axis=1)

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [72]:
condition = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Other (please describe)') & (new_gdata1['g23_gender3'] == 'Man') & (new_gdata1['g23_gender4'] == 'Woman') & new_gdata1['g23_gender5'].isnull()

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [73]:
condition = (new_gdata1['g23_gender1'] == 'Man') & (new_gdata1['g23_gender2'] == 'Other (please describe)') & (new_gdata1['g23_gender3'] == 'Non-binary') & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [74]:
condition = (new_gdata1['g23_gender1'] == 'Other (please describe)') & (new_gdata1['g23_gender2'] == 'Woman') & (new_gdata1['g23_gender3'] == 'Non-binary') & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [75]:
condition = (new_gdata1['g23_gender1'] == 'Other (please describe)') & (new_gdata1['g23_gender2'] == 'Non-binary') & (new_gdata1['g23_gender3'] == 'Man') & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [76]:
condition = (new_gdata1['g23_gender1'] == 'Other (please describe)') & (new_gdata1['g23_gender2'] == 'Woman') & (new_gdata1['g23_gender3'] == 'Two-spirit') & (new_gdata1['g23_gender4'] == 'Non-binary') & new_gdata1['g23_gender5'].isnull()

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [77]:
condition = (new_gdata1['g23_gender1'] == 'Other (please describe)') & (new_gdata1['g23_gender2'] == 'Woman') & (new_gdata1['g23_gender3'] == 'Man') & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [78]:
condition = (new_gdata1['g23_gender1'] == 'Two-spirit') & (new_gdata1['g23_gender2'] == 'Non-binary') & (new_gdata1['g23_gender3'] == 'Woman') & (new_gdata1['g23_gender4'] == 'Other (please describe)') & new_gdata1['g23_gender5'].isnull()

# Update 'updated_gender1' column where the condition is True
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [79]:
# Condition 1
condition = (new_gdata1['g23_gender1'] == 'Woman') & (new_gdata1['g23_gender2'] == 'Non-binary') & (new_gdata1['g23_gender3'] == 'Other (please describe)') & (new_gdata1['g23_gender4'] == 'Two-spirit') & (new_gdata1['g23_gender5'] == 'Man')
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [80]:
condition = (new_gdata1['g23_gender1'] == 'Man') & (new_gdata1['g23_gender2'] == 'Two-spirit') & (new_gdata1['g23_gender3'] == 'Other (please describe)') & (new_gdata1['g23_gender4'] == 'Non-binary') & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [81]:
condition = (new_gdata1['g23_gender1'] == 'Woman') & (new_gdata1['g23_gender2'] == 'Non-binary') & (new_gdata1['g23_gender3'] == 'Man') & (new_gdata1['g23_gender4'] == 'Other (please describe)') & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [82]:
condition = (new_gdata1['g23_gender1'] == 'Man') & (new_gdata1['g23_gender2'] == 'Non-binary') & (new_gdata1['g23_gender3'] == 'Two-spirit') & (new_gdata1['g23_gender4'] == 'Other (please describe)') & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [83]:
condition = (new_gdata1['g23_gender1'] == 'Two-spirit') & (new_gdata1['g23_gender2'] == 'Woman') & (new_gdata1['g23_gender3'] == 'Man') & (new_gdata1['g23_gender4'] == 'Non-binary') & (new_gdata1['g23_gender5'] == 'Other (please describe)')
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [84]:
condition = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Other (please describe)') & (new_gdata1['g23_gender3'] == 'Two-spirit') & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [85]:
condition = (new_gdata1['g23_gender1'] == 'Man') & (new_gdata1['g23_gender2'] == 'Woman') & (new_gdata1['g23_gender3'] == 'Other (please describe)') & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [86]:
condition = (new_gdata1['g23_gender1'] == 'Other (please describe)') & (new_gdata1['g23_gender2'] == 'Man') & (new_gdata1['g23_gender3'] == 'Woman') & (new_gdata1['g23_gender4'] == 'Non-binary') & (new_gdata1['g23_gender5'] == 'Two-spirit')
new_gdata1.loc[condition, 'updated_gender1'] = 'Others'

In [87]:
O_selected_rows = new_gdata1[(new_gdata1['updated_gender1'] == 'Others')][['g23_gender1', 'g23_gender2', 'updated_gender1']]
O_selected_rows.shape

(298, 3)

In [125]:
selected_rows = new_gdata1[(new_gdata1['g23_gender2'] == 'Two-spirit')][['g23_gender1', 'g23_gender2', 'g23_gender3', 'updated_gender1']]
selected_rows.head(50)

     g23_gender1 g23_gender2              g23_gender3 updated_gender1
360          Man  Two-spirit                      NaN      Two-spirit
425   Non-binary  Two-spirit                      NaN   Dual Identity
625          Man  Two-spirit                      NaN      Two-spirit
628          Man  Two-spirit                      NaN      Two-spirit
662          Man  Two-spirit               Non-binary   Dual Identity
669        Woman  Two-spirit                      Man           Woman
671          Man  Two-spirit                      NaN      Two-spirit
709          Man  Two-spirit                      NaN      Two-spirit
895   Non-binary  Two-spirit                      NaN   Dual Identity
1176       Woman  Two-spirit                      NaN      Two-spirit
1247         Man  Two-spirit                      NaN      Two-spirit
1358       Woman  Two-spirit                      NaN      Two-spirit
1414         Man  Two-spirit                      NaN      Two-spirit
1439         Man  Two-spirit                      NaN      Two-spirit
1464         Man  Two-spirit                      NaN      Two-spirit
1572         Man  Two-spirit                      NaN      Two-spirit
1764  Non-binary  Two-spirit                      NaN   Dual Identity
1779         Man  Two-spirit                      NaN      Two-spirit
1780       Woman  Two-spirit                      NaN      Two-spirit
1982  Non-binary  Two-spirit                      NaN   Dual Identity
2214         Man  Two-spirit                      NaN      Two-spirit
2875       Woman  Two-spirit                      NaN      Two-spirit
3009       Woman  Two-spirit                      NaN      Two-spirit
3020       Woman  Two-spirit                      NaN      Two-spirit
3178  Non-binary  Two-spirit                      NaN   Dual Identity
3618  Non-binary  Two-spirit  Other (please describe)   Dual Identity
3643       Woman  Two-spirit                      NaN      Two-spirit
4076  Non-binary  Two-spirit                    Woman   Dual Identity
4121  Non-binary  Two-spirit                      NaN   Dual Identity
4276  Non-binary  Two-spirit                      NaN   Dual Identity
4278  Non-binary  Two-spirit                      NaN   Dual Identity
4364  Non-binary  Two-spirit                      NaN   Dual Identity
4472       Woman  Two-spirit                      NaN      Two-spirit
4502       Woman  Two-spirit                      NaN      Two-spirit
4538  Non-binary  Two-spirit                      NaN   Dual Identity
4745         Man  Two-spirit               Non-binary   Dual Identity
4765       Woman  Two-spirit               Non-binary   Dual Identity
4776         Man  Two-spirit                      NaN      Two-spirit
4784         Man  Two-spirit                      NaN      Two-spirit
4873  Non-binary  Two-spirit                      NaN   Dual Identity
5303  Non-binary  Two-spirit                    Woman   Dual Identity
5427         Man  Two-spirit                      NaN      Two-spirit
5621       Woman  Two-spirit                      NaN      Two-spirit
5936  Non-binary  Two-spirit                      NaN   Dual Identity
5941         Man  Two-spirit                      NaN      Two-spirit
5953  Non-binary  Two-spirit                      NaN   Dual Identity
6005       Woman  Two-spirit                      NaN      Two-spirit
6033         Man  Two-spirit                      NaN      Two-spirit
6146         Man  Two-spirit                      NaN      Two-spirit
6200  Non-binary  Two-spirit                      NaN   Dual Identity

In [89]:
condition_1 = (new_gdata1['g23_gender1'] == 'Man') & (new_gdata1['g23_gender2'] == 'I prefer not to answer') & new_gdata1['g23_gender3'].isnull() & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition_1, 'updated_gender1'] = 'I prefer not to answer'

In [90]:
condition_2 = (new_gdata1['g23_gender1'] == 'Woman') & (new_gdata1['g23_gender2'] == 'I prefer not to answer') & new_gdata1['g23_gender3'].isnull() & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition_2, 'updated_gender1'] = 'I prefer not to answer'

In [91]:
condition_3 = (new_gdata1['g23_gender1'] == 'Other (please describe)') & (new_gdata1['g23_gender2'] == 'I prefer not to answer') & new_gdata1['g23_gender3'].isnull() & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition_3, 'updated_gender1'] = 'I prefer not to answer'

In [92]:
condition_4 = (new_gdata1['g23_gender1'] == 'I prefer not to answer') & (new_gdata1['g23_gender2'] == 'Woman') & new_gdata1['g23_gender3'].isnull() & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition_4, 'updated_gender1'] = 'I prefer not to answer'

In [93]:
condition_5 = (new_gdata1['g23_gender1'] == 'I prefer not to answer') & (new_gdata1['g23_gender2'] == 'Non-binary') & new_gdata1['g23_gender3'].isnull() & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition_5, 'updated_gender1'] = 'I prefer not to answer'

In [94]:
condition_6 = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Other (please describe)') & (new_gdata1['g23_gender3'] == 'I prefer not to answer') & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition_6, 'updated_gender1'] = 'I prefer not to answer'

In [95]:
condition_7 = (new_gdata1['g23_gender1'] == 'I prefer not to answer') & (new_gdata1['g23_gender2'] == 'Man') & new_gdata1['g23_gender3'].isnull() & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition_7, 'updated_gender1'] = 'I prefer not to answer'

In [96]:
condition_8 = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'I prefer not to answer') & new_gdata1['g23_gender3'].isnull() & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition_8, 'updated_gender1'] = 'I prefer not to answer'

In [97]:
condition_9 = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Woman') & (new_gdata1['g23_gender3'] == 'I prefer not to answer') & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition_9, 'updated_gender1'] = 'I prefer not to answer'

In [98]:
condition_10 = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'I prefer not to answer') & (new_gdata1['g23_gender3'] == 'Man') & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition_10, 'updated_gender1'] = 'I prefer not to answer'

In [99]:
condition_11 = (new_gdata1['g23_gender1'] == 'Two-spirit') & (new_gdata1['g23_gender2'] == 'Non-binary') & (new_gdata1['g23_gender3'] == 'I prefer not to answer') & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition_11, 'updated_gender1'] = 'I prefer not to answer'

In [100]:
condition_12 = (new_gdata1['g23_gender1'] == 'Woman') & (new_gdata1['g23_gender2'] == 'Non-binary') & (new_gdata1['g23_gender3'] == 'I prefer not to answer') & (new_gdata1['g23_gender4'] == 'Other (please describe)') & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition_12, 'updated_gender1'] = 'I prefer not to answer'

In [101]:
condition_13 = (new_gdata1['g23_gender1'] == 'I prefer not to answer') & (new_gdata1['g23_gender2'] == 'Other (please describe)') & new_gdata1['g23_gender3'].isnull() & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition_13, 'updated_gender1'] = 'I prefer not to answer'

In [102]:
condition_14 = (new_gdata1['g23_gender1'] == 'Woman') & (new_gdata1['g23_gender2'] == 'I prefer not to answer') & (new_gdata1['g23_gender3'] == 'Non-binary') & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition_14, 'updated_gender1'] = 'I prefer not to answer'

In [103]:
condition_15 = (new_gdata1['g23_gender1'] == 'I prefer not to answer') & (new_gdata1['g23_gender2'] == 'Man') & (new_gdata1['g23_gender3'] == 'Woman') & (new_gdata1['g23_gender4'] == 'Non-binary') & (new_gdata1['g23_gender5'] == 'Two-spirit')
new_gdata1.loc[condition_15, 'updated_gender1'] = 'I prefer not to answer'

In [104]:
condition_16 = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Man') & (new_gdata1['g23_gender3'] == 'I prefer not to answer') & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition_16, 'updated_gender1'] = 'I prefer not to answer'

In [105]:
condition_17 = (new_gdata1['g23_gender1'] == 'Two-spirit') & (new_gdata1['g23_gender2'] == 'Woman') & (new_gdata1['g23_gender3'] == 'I prefer not to answer') & new_gdata1['g23_gender4'].isnull() & new_gdata1['g23_gender5'].isnull()
new_gdata1.loc[condition_17, 'updated_gender1'] = 'I prefer not to answer'

In [106]:
selected_rows = new_gdata1[(new_gdata1['updated_gender1'] == 'I prefer not to answer')][['g23_gender1', 'g23_gender2', 'updated_gender1']]
selected_rows.shape

(555, 3)

In [ ]:
## NB TS, TS NB, W NB TS, NB W TS, NB TS W, M TS NB, W TS NB, M NB TS, NB TS Other, 
## TS NB W, TS NB M, NB TS M, M W NB TS

In [123]:
condition_1 = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Two-spirit') & (new_gdata1['g23_gender3'].isnull()) & (new_gdata1['g23_gender4'].isnull()) & (new_gdata1['g23_gender5'].isnull())
condition_2 = (new_gdata1['g23_gender1'] == 'Two-spirit') & (new_gdata1['g23_gender2'] == 'Non-binary') & (new_gdata1['g23_gender3'].isnull()) & (new_gdata1['g23_gender4'].isnull()) & (new_gdata1['g23_gender5'].isnull())
condition_3 = (new_gdata1['g23_gender1'] == 'Woman') & (new_gdata1['g23_gender2'] == 'Non-binary') & (new_gdata1['g23_gender3'] == 'Two-spirit') & (new_gdata1['g23_gender4'].isnull()) & (new_gdata1['g23_gender5'].isnull())
condition_4 = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Woman') & (new_gdata1['g23_gender3'] == 'Two-spirit') & (new_gdata1['g23_gender4'].isnull()) & (new_gdata1['g23_gender5'].isnull())
condition_5 = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Two-spirit') & (new_gdata1['g23_gender3'] == 'Woman') & (new_gdata1['g23_gender4'].isnull()) & (new_gdata1['g23_gender5'].isnull())
condition_6 = (new_gdata1['g23_gender1'] == 'Man') & (new_gdata1['g23_gender2'] == 'Two-spirit') & (new_gdata1['g23_gender3'] == 'Non-binary') & (new_gdata1['g23_gender4'].isnull()) & (new_gdata1['g23_gender5'].isnull())
condition_7 = (new_gdata1['g23_gender1'] == 'Woman') & (new_gdata1['g23_gender2'] == 'Two-spirit') & (new_gdata1['g23_gender3'] == 'Non-binary') & (new_gdata1['g23_gender4'].isnull()) & (new_gdata1['g23_gender5'].isnull())
condition_8 = (new_gdata1['g23_gender1'] == 'Man') & (new_gdata1['g23_gender2'] == 'Non-binary') & (new_gdata1['g23_gender3'] == 'Two-spirit') & (new_gdata1['g23_gender4'].isnull()) & (new_gdata1['g23_gender5'].isnull())
condition_9 = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Two-spirit') & (new_gdata1['g23_gender3'] == 'Other (please describe)') & (new_gdata1['g23_gender4'].isnull()) & (new_gdata1['g23_gender5'].isnull())
condition_10 = (new_gdata1['g23_gender1'] == 'Two-spirit') & (new_gdata1['g23_gender2'] == 'Non-binary') & (new_gdata1['g23_gender3'] == 'Woman') & (new_gdata1['g23_gender4'].isnull()) & (new_gdata1['g23_gender5'].isnull())
condition_11 = (new_gdata1['g23_gender1'] == 'Two-spirit') & (new_gdata1['g23_gender2'] == 'Non-binary') & (new_gdata1['g23_gender3'] == 'Man') & (new_gdata1['g23_gender4'].isnull()) & (new_gdata1['g23_gender5'].isnull())
condition_12 = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Two-spirit') & (new_gdata1['g23_gender3'] == 'Man') & (new_gdata1['g23_gender4'].isnull()) & (new_gdata1['g23_gender5'].isnull())
condition_13 = (new_gdata1['g23_gender1'] == 'Man') & (new_gdata1['g23_gender2'] == 'Woman') & (new_gdata1['g23_gender3'] == 'Non-binary') & (new_gdata1['g23_gender4'] == 'Two-spirit') & (new_gdata1['g23_gender5'].isnull())
# Define other conditions for different combinations of genders as needed

In [124]:
new_gdata1.loc[condition_1, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_2, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_3, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_4, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_5, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_6, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_7, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_8, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_9, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_10, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_11, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_12, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_13, 'updated_gender1'] = 'Dual Identity'

In [126]:
selected_rows.head(50)

     g23_gender1 g23_gender2              g23_gender3 updated_gender1
360          Man  Two-spirit                      NaN      Two-spirit
425   Non-binary  Two-spirit                      NaN   Dual Identity
625          Man  Two-spirit                      NaN      Two-spirit
628          Man  Two-spirit                      NaN      Two-spirit
662          Man  Two-spirit               Non-binary   Dual Identity
669        Woman  Two-spirit                      Man           Woman
671          Man  Two-spirit                      NaN      Two-spirit
709          Man  Two-spirit                      NaN      Two-spirit
895   Non-binary  Two-spirit                      NaN   Dual Identity
1176       Woman  Two-spirit                      NaN      Two-spirit
1247         Man  Two-spirit                      NaN      Two-spirit
1358       Woman  Two-spirit                      NaN      Two-spirit
1414         Man  Two-spirit                      NaN      Two-spirit
1439         Man  Two-spirit                      NaN      Two-spirit
1464         Man  Two-spirit                      NaN      Two-spirit
1572         Man  Two-spirit                      NaN      Two-spirit
1764  Non-binary  Two-spirit                      NaN   Dual Identity
1779         Man  Two-spirit                      NaN      Two-spirit
1780       Woman  Two-spirit                      NaN      Two-spirit
1982  Non-binary  Two-spirit                      NaN   Dual Identity
2214         Man  Two-spirit                      NaN      Two-spirit
2875       Woman  Two-spirit                      NaN      Two-spirit
3009       Woman  Two-spirit                      NaN      Two-spirit
3020       Woman  Two-spirit                      NaN      Two-spirit
3178  Non-binary  Two-spirit                      NaN   Dual Identity
3618  Non-binary  Two-spirit  Other (please describe)   Dual Identity
3643       Woman  Two-spirit                      NaN      Two-spirit
4076  Non-binary  Two-spirit                    Woman   Dual Identity
4121  Non-binary  Two-spirit                      NaN   Dual Identity
4276  Non-binary  Two-spirit                      NaN   Dual Identity
4278  Non-binary  Two-spirit                      NaN   Dual Identity
4364  Non-binary  Two-spirit                      NaN   Dual Identity
4472       Woman  Two-spirit                      NaN      Two-spirit
4502       Woman  Two-spirit                      NaN      Two-spirit
4538  Non-binary  Two-spirit                      NaN   Dual Identity
4745         Man  Two-spirit               Non-binary   Dual Identity
4765       Woman  Two-spirit               Non-binary   Dual Identity
4776         Man  Two-spirit                      NaN      Two-spirit
4784         Man  Two-spirit                      NaN      Two-spirit
4873  Non-binary  Two-spirit                      NaN   Dual Identity
5303  Non-binary  Two-spirit                    Woman   Dual Identity
5427         Man  Two-spirit                      NaN      Two-spirit
5621       Woman  Two-spirit                      NaN      Two-spirit
5936  Non-binary  Two-spirit                      NaN   Dual Identity
5941         Man  Two-spirit                      NaN      Two-spirit
5953  Non-binary  Two-spirit                      NaN   Dual Identity
6005       Woman  Two-spirit                      NaN      Two-spirit
6033         Man  Two-spirit                      NaN      Two-spirit
6146         Man  Two-spirit                      NaN      Two-spirit
6200  Non-binary  Two-spirit                      NaN   Dual Identity

In [127]:
condition_14 = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Other (please describe)') & (new_gdata1['g23_gender3'] == 'Two-spirit') & (new_gdata1['g23_gender4'] == 'Woman') & (new_gdata1['g23_gender5'] == 'Man')
condition_15 = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Man') & (new_gdata1['g23_gender3'] == 'Woman') & (new_gdata1['g23_gender4'] == 'Two-spirit') & (new_gdata1['g23_gender5'].isnull())
condition_16 = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Two-spirit') & (new_gdata1['g23_gender3'] == 'Man') & (new_gdata1['g23_gender4'] == 'Woman') & (new_gdata1['g23_gender5'].isnull())
condition_17 = (new_gdata1['g23_gender1'] == 'Two-spirit') & (new_gdata1['g23_gender2'] == 'Woman') & (new_gdata1['g23_gender3'] == 'Man') & (new_gdata1['g23_gender4'] == 'Non-binary') & (new_gdata1['g23_gender5'].isnull())
condition_18 = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Man') & (new_gdata1['g23_gender3'] == 'Two-spirit') & (new_gdata1['g23_gender4'] == 'Other (please describe)') & (new_gdata1['g23_gender5'].isnull())
condition_19 = (new_gdata1['g23_gender1'] == 'Woman') & (new_gdata1['g23_gender2'] == 'Two-spirit') & (new_gdata1['g23_gender3'] == 'Man') & (new_gdata1['g23_gender4'] == 'Non-binary') & (new_gdata1['g23_gender5'] == 'Other (please describe)')
condition_20 = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Man') & (new_gdata1['g23_gender3'] == 'Two-spirit') & (new_gdata1['g23_gender4'] == 'Woman') & (new_gdata1['g23_gender5'] == 'Other (please describe)')
condition_21 = (new_gdata1['g23_gender1'] == 'Two-spirit') & (new_gdata1['g23_gender2'] == 'Non-binary') & (new_gdata1['g23_gender3'] == 'Woman') & (new_gdata1['g23_gender4'] == 'Man') & (new_gdata1['g23_gender5'].isnull())
condition_22 = (new_gdata1['g23_gender1'] == 'Man') & (new_gdata1['g23_gender2'] == 'Woman') & (new_gdata1['g23_gender3'] == 'Two-spirit') & (new_gdata1['g23_gender4'] == 'Other (please describe)') & (new_gdata1['g23_gender5'].isnull())
condition_23 = (new_gdata1['g23_gender1'] == 'Non-binary') & (new_gdata1['g23_gender2'] == 'Woman') & (new_gdata1['g23_gender3'] == 'Two-spirit') & (new_gdata1['g23_gender4'] == 'Other (please describe)') & (new_gdata1['g23_gender5'] == 'Man')

In [128]:
new_gdata1.loc[condition_14, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_15, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_16, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_17, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_18, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_19, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_20, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_21, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_22, 'updated_gender1'] = 'Dual Identity'
new_gdata1.loc[condition_23, 'updated_gender1'] = 'Dual Identity'

In [129]:
new_gdata1['updated_gender1'].unique()

array(['Woman', 'Man', 'Non-binary', 'Two-spirit',
       'I prefer not to answer', 'Other (please describe)', 'Others',
       'Dual Identity'], dtype=object)

## Handling Race Ethnicity Column

In [130]:
columns_to_check = [
    "g20_raceethnicity2", "g20_raceethnicity3", "g20_raceethnicity4",
    "g20_raceethnicity5", "g20_raceethnicity6", "g20_raceethnicity7",
    "g20_raceethnicity8"
]
multiracial_df = new_gdata1[new_gdata1[columns_to_check].notna().any(axis=1)]

In [131]:
new_gdata1['g20_raceethnicity1'].unique()

array(['Asian or Pacific Islander', 'White', 'Black or African American',
       'Hispanic or Latinx', 'Arab or Middle Eastern',
       'Indigenous American, First Nation, or Alaska Native',
       'Other (please describe)', 'I prefer not to answer',
       'Pacific Islander or Native Hawaiian'], dtype=object)

In [132]:
new_gdata1.loc[multiracial_df.index, 'g20_raceethnicity1'] = "Multiracial"

In [133]:
new_gdata1['g20_raceethnicity1'].unique()

array(['Multiracial', 'White', 'Black or African American',
       'Hispanic or Latinx', 'Asian or Pacific Islander',
       'Indigenous American, First Nation, or Alaska Native',
       'Other (please describe)', 'I prefer not to answer',
       'Arab or Middle Eastern', 'Pacific Islander or Native Hawaiian'],
      dtype=object)

In [134]:
distinct_race = new_gdata1["g20_raceethnicity1"].unique()
for i in distinct_race:
  print(i)

Multiracial
White
Black or African American
Hispanic or Latinx
Asian or Pacific Islander
Indigenous American, First Nation, or Alaska Native
Other (please describe)
I prefer not to answer
Arab or Middle Eastern
Pacific Islander or Native Hawaiian

In [135]:
null_raceethnicity_all = new_gdata1[new_gdata1[['g20_raceethnicity1', 'g20_raceethnicity2', 'g20_raceethnicity3', 'g20_raceethnicity4', 'g20_raceethnicity5', 'g20_raceethnicity6', 'g20_raceethnicity7', 'g20_raceethnicity8']].isnull().all(axis=1)]
null_raceethnicity_all

Empty DataFrame
Columns: [id, g14_city, g15_zipcode, g16_county, g17_region, g18_community, g20_raceethnicity1, g20_raceethnicity2, g20_raceethnicity3, g20_raceethnicity4, g20_raceethnicity5, g20_raceethnicity6, g20_raceethnicity7, g20_raceethnicity8, g21_immigrant, g22_language, g23_gender1, g23_gender2, g23_gender3, g23_gender4, g23_gender5, g24_transgender, g25_lgbtqiap, g26_deafdisabled, g27_providecare1, g27_providecare2, g27_providecare3, g27_providecare4, g27_providecare5, g28_criminallegalsystem, g28b_criminal_findemploy, g29_financialsafetynet1, g29_financialsafetynet2, g29_financialsafetynet3, g29_financialsafetynet4, g29_financialsafetynet5, g30_discipline1, g30_discipline2, g30_discipline3, g31_approach1, g31_approach2, g31_approach3, g31_approach4, g31_approach5, g31_approach6, g32_enrolled, g32b_enrolled_name1, g32b_enrolled_name2, g32b_enrolled_name3, g32b_enrolled_name4, g32b_enrolled_name5, g32b_enrolled_name6, g32b_enrolled_name7, g32b_enrolled_name8, g32b_enrolled_name9, g_agerange, g_enrollmentstatus, g4_city, provide_care_status, provide_care_count, total_benefits_count, solo, performance, collab_artists, teach_edu, public_involvement, collab_nonartists, f_nosafety, f_medical_emerg, f_unmanageable, f_unsure_income, f_none, updated_gender1]
Index: []

[0 rows x 73 columns]

In [136]:
# List of columns to drop
columns_to_drop = ['g20_raceethnicity2', 'g20_raceethnicity3', 'g20_raceethnicity4', 'g20_raceethnicity5', 'g20_raceethnicity6', 'g20_raceethnicity7', 'g20_raceethnicity8']

# Drop unwanted columns
new_gdata1.drop(columns=columns_to_drop, inplace=True)

# Rename g20_raceethnicity1 to g20_raceethnicity
new_gdata1.rename(columns={'g20_raceethnicity1': 'g20_raceethnicity'}, inplace=True)

In [137]:
new_gdata1['g20_raceethnicity']

0                      Multiracial
2                            White
3        Black or African American
4                      Multiracial
5                            White
                   ...
23786           Hispanic or Latinx
23787           Hispanic or Latinx
23788           Hispanic or Latinx
23789           Hispanic or Latinx
23790           Hispanic or Latinx
Name: g20_raceethnicity, Length: 21921, dtype: object

In [139]:
# Replace 'Pacific Islander or Native Hawaiian' with 'Asian or Pacific Islander' in the 'g20_raceethnicity' column
new_gdata1['g20_raceethnicity'] = new_gdata1['g20_raceethnicity'].replace('Pacific Islander or Native Hawaiian', 'Asian or Pacific Islander')

## Discipline column

In [138]:
# Define the column names
columns_to_replace = ['g30_discipline1', 'g30_discipline2', 'g30_discipline3']

# Replace '(blank)' with NaN in the specified columns
new_gdata1[columns_to_replace] = new_gdata1[columns_to_replace].replace('(blank)', np.nan)

In [226]:
new_gdata1.to_csv('applicant6.csv', index=False)

## Handling p_data

In [140]:
p_data.head()

,p1_discipline1,p1_discipline2,p1_discipline3,p2_approachtopractice1,p2_approachtopractice2,p2_approachtopractice3,p2_approachtopractice4,p2_approachtopractice5,p2_approachtopractice6,p3_impacts,...,p_status,p41_gender1,p41_gender2,p41_gender3,p41_gender4,p41_gender5,p46_caregiving1,p46_caregiving2,p46_caregiving3,id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N3R8BXQE4K
1,Interdisciplinary Arts,Visual Arts,Media Arts,collab_artists,collab_nonartists,solo_artist,public_involvement,perform_present_exhibit,teaching_others,Yes,...,Withdrawn,gender_oth,twospirit,woman,NaN,NaN,no_caregiving,NaN,NaN,E555HATF05
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0LTH6QJQH8
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R3S4V21D40
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BZEFVJAYBT

In [141]:
p_data.columns

Index(['p1_discipline1', 'p1_discipline2', 'p1_discipline3',
       'p2_approachtopractice1', 'p2_approachtopractice2',
       'p2_approachtopractice3', 'p2_approachtopractice4',
       'p2_approachtopractice5', 'p2_approachtopractice6', 'p3_impacts',
       ...
       'p_status', 'p41_gender1', 'p41_gender2', 'p41_gender3', 'p41_gender4',
       'p41_gender5', 'p46_caregiving1', 'p46_caregiving2', 'p46_caregiving3',
       'id'],
      dtype='object', length=124)

In [142]:
# Assuming your DataFrame is called df
# Extract the 'id' column
id_column = p_data.pop('id')

# Insert the 'id' column at the start of the DataFrame
p_data.insert(0, 'id', id_column)

In [143]:
new_pdata = p_data.dropna(how='all', subset=p_data.columns.difference(['id']))
new_pdata.head(20)

,id,p1_discipline1,p1_discipline2,p1_discipline3,p2_approachtopractice1,p2_approachtopractice2,p2_approachtopractice3,p2_approachtopractice4,p2_approachtopractice5,p2_approachtopractice6,...,p_agerange,p_status,p41_gender1,p41_gender2,p41_gender3,p41_gender4,p41_gender5,p46_caregiving1,p46_caregiving2,p46_caregiving3
1,E555HATF05,Interdisciplinary Arts,Visual Arts,Media Arts,collab_artists,collab_nonartists,solo_artist,public_involvement,perform_present_exhibit,teaching_others,...,25-34,Withdrawn,gender_oth,twospirit,woman,NaN,NaN,no_caregiving,NaN,NaN
7,T8RAL818WX,Visual Arts,NaN,NaN,solo_artist,public_involvement,perform_present_exhibit,teaching_others,NaN,NaN,...,65-74,Completed,woman,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
8,VJSNADKNIA,Media Arts,Media Arts,Media Arts,collab_artists,collab_nonartists,solo_artist,NaN,NaN,NaN,...,35-44,Completed,woman,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
10,CK5Q7211S1,Craft,Traditional Arts,Visual Arts,solo_artist,public_involvement,perform_present_exhibit,teaching_others,NaN,NaN,...,25-34,Completed,woman,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
11,KYO3UY4G8C,Interdisciplinary Arts,Dance,Performance Art,collab_artists,collab_nonartists,solo_artist,perform_present_exhibit,NaN,NaN,...,55-64,Completed,man,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
12,G3BSHLQTSB,Film,Music,NaN,collab_artists,solo_artist,perform_present_exhibit,NaN,NaN,NaN,...,35-44,Funded,man,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
14,IN0O94G3O9,Literary Arts,NaN,NaN,solo_artist,NaN,NaN,NaN,NaN,NaN,...,65-74,Completed,woman,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
16,ZY16NLNF2S,Visual Arts,Interdisciplinary Arts,Film,collab_artists,collab_nonartists,solo_artist,perform_present_exhibit,teaching_others,NaN,...,45-54,Completed,man,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
17,YV4VD3CW87,Film,Visual Arts,Media Arts,solo_artist,public_involvement,NaN,NaN,NaN,NaN,...,18-24,Funded,man,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
18,HFDFZ3YNBQ,Visual Arts,NaN,NaN,collab_artists,solo_artist,teaching_others,NaN,NaN,NaN,...,35-44,Completed,woman,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
19,JMYWUBVZDQ,Music,Visual Arts,NaN,collab_artists,solo_artist,perform_present_exhibit,NaN,NaN,NaN,...,25-34,In-Progress,woman,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
20,78J9XORDGO,Visual Arts,Performance Art,Literary Arts,collab_artists,collab_nonartists,solo_artist,public_involvement,perform_present_exhibit,teaching_others,...,55-64,Completed,man,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
21,V5MKNE7AYS,Visual Arts,Film,Media Arts,collab_artists,collab_nonartists,solo_artist,public_involvement,perform_present_exhibit,teaching_others,...,35-44,Withdrawn,man,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
22,QLFML6Y0RY,Visual Arts,NaN,NaN,collab_artists,collab_nonartists,solo_artist,public_involvement,teaching_others,NaN,...,45-54,In-Progress,man,NaN,NaN,NaN,NaN,child,NaN,NaN
24,88MLU3K5VI,Film,Literary Arts,Performance Art,collab_artists,perform_present_exhibit,NaN,NaN,NaN,NaN,...,25-34,Completed,nonbinary,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
25,WEHS93JQSQ,Visual Arts,Craft,Performance Art,solo_artist,teaching_others,NaN,NaN,NaN,NaN,...,18-24,Completed,woman,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
27,279L656A6F,Music,Performance Art,Interdisciplinary Arts,collab_artists,collab_nonartists,solo_artist,public_involvement,perform_present_exhibit,teaching_others,...,18-24,Completed,twospirit,woman,NaN,NaN,NaN,providecare_noans,adult,NaN
29,N2K8RW5G2C,Design,Craft,NaN,collab_artists,solo_artist,NaN,NaN,NaN,NaN,...,35-44,Completed,man,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
30,J4FJ66BZEP,Film,Literary Arts,NaN,collab_artists,solo_artist,perform_present_exhibit,NaN,NaN,NaN,...,25-34,Completed,woman,NaN,NaN,NaN,NaN,providecare_noans,NaN,NaN
31,HSVMQ0Z094,Visual Arts,Craft,Traditional Arts,collab_nonartists,solo_artist,perform_present_exhibit,teaching_others,NaN,NaN,...,18-24,Completed,nonbinary,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN

In [144]:
len(new_pdata.id)

13119

In [145]:
new_pdata['p6_amountoftime'].unique()

array(['2 – very little time', '5 – more than enough time',
       '4 – sufficient time', '3 – my time fluctuates',
       '1 – no time at all', nan], dtype=object)

In [146]:
# Iterate through each column in the DataFrame

for column in new_pdata.columns:
    if new_pdata[column].dtype == 'object':
        new_pdata[column] = new_pdata[column].str.strip()

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3077370410.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = new_pdata[column].str.strip()

In [147]:
# Assuming new_pdata is your DataFrame
new_pdata['p5_amountofenergy'] = new_pdata['p5_amountofenergy'].str.split('–').str[1].str.strip()
new_pdata['p6_amountoftime'] = new_pdata['p6_amountoftime'].str.split('–').str[1].str.strip()
new_pdata['p7_financialcapacity'] = new_pdata['p7_financialcapacity'].str.split('–').str[1].str.strip()
new_pdata['p8_financialstability'] = new_pdata['p8_financialstability'].str.split('–').str[1].str.strip()

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2356642363.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata['p5_amountofenergy'] = new_pdata['p5_amountofenergy'].str.split('–').str[1].str.strip()
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2356642363.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata['p6_amountoftime'] = new_pdata['p6_amountoftime'].str.split('–').str[1].str.strip()
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2356642363.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata['p7_financialcapacity'] = new_pdata['p7_financialcapacity'].str.split('–').str[1].str.strip()
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2356642363.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata['p8_financialstability'] = new_pdata['p8_financialstability'].str.split('–').str[1].str.strip()

In [148]:
new_pdata['p5_amountofenergy'].unique()

array(['no energy', 'my energy fluctuates', 'very low energy',
       'more than enough energy', 'sufficient energy', nan], dtype=object)

In [149]:
# Define a dictionary mapping long-form values to short forms
energy_mapping = {
    'no energy': 'no',
    'my energy fluctuates': 'fluctuates',
    'very low energy': 'very low',
    'more than enough energy': 'more than enough',
    'sufficient energy': 'sufficient'
}

# Map the values in the 'p5_amountofenergy' column using the defined dictionary
new_pdata['p5_amountofenergy'] = new_pdata['p5_amountofenergy'].map(energy_mapping)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\90656082.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata['p5_amountofenergy'] = new_pdata['p5_amountofenergy'].map(energy_mapping)

In [150]:
new_pdata['p6_amountoftime'].unique()

array(['very little time', 'more than enough time', 'sufficient time',
       'my time fluctuates', 'no time at all', nan], dtype=object)

In [151]:
# Define a dictionary mapping long-form values to short forms
time_mapping = {
    'very little time': 'very little',
    'more than enough time': 'more than enough',
    'sufficient time': 'sufficient',
    'my time fluctuates': 'fluctuates',
    'no time at all': 'no time'
}

# Map the values in the 'p5_amountofenergy' column using the defined dictionary
new_pdata['p6_amountoftime'] = new_pdata['p6_amountoftime'].map(time_mapping)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\27316675.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata['p6_amountoftime'] = new_pdata['p6_amountoftime'].map(time_mapping)

In [152]:
new_pdata['p7_financialcapacity'].unique()

array(['I can afford only some of these items', 'my time fluctuates',
       'I cannot afford these items', 'I can afford these items', nan,
       'I have more than enough to afford materials'], dtype=object)

In [153]:
# Replace 'my time fluctuates' with '– my financial capacity to afford these items fluctuates'
new_pdata['p7_financialcapacity'] = new_pdata['p7_financialcapacity'].replace('my time fluctuates', 'my financial capacity to afford these items fluctuates')

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\1254336679.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata['p7_financialcapacity'] = new_pdata['p7_financialcapacity'].replace('my time fluctuates', 'my financial capacity to afford these items fluctuates')

In [154]:
# Define a dictionary mapping the values to their corresponding short forms
replacement_dict = {
    'I can afford only some of these items': 'Afford Some',
    'my financial capacity to afford these items fluctuates': 'Capacity Fluctuates',
    'I cannot afford these items': 'Cannot Afford',
    'I can afford these items': 'Can Afford',
    'I have more than enough to afford materials': 'Enough to Afford',
}

# Replace values in the p7_financialcapacity column using the dictionary
new_pdata['p7_financialcapacity'] = new_pdata['p7_financialcapacity'].replace(replacement_dict)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\384211807.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata['p7_financialcapacity'] = new_pdata['p7_financialcapacity'].replace(replacement_dict)

In [155]:
# Replace 'my financial stability fluctuates' with 'stability fluctuates' in the p8_financialstability column
new_pdata['p8_financialstability'] = new_pdata['p8_financialstability'].replace('my financial stability fluctuates', 'stability fluctuates')

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2342854922.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata['p8_financialstability'] = new_pdata['p8_financialstability'].replace('my financial stability fluctuates', 'stability fluctuates')

In [156]:
new_pdata['p8_financialstability'].unique()

array(['extremely unstable', 'unstable', 'stability fluctuates', 'stable',
       nan, 'extremely stable'], dtype=object)

In [157]:
# Check the value of p14_carryingdebt column and fill corresponding p14b_debtmanageable values
new_pdata.loc[new_pdata['p14_carryingdebt'] == 'No', 'p14b_debtmanageable'] = 'No Debt'

In [158]:
new_pdata['p14b_debtmanageable'].unique()

array([nan, 'Unmanageable', 'Manageable', 'No Debt'], dtype=object)

In [159]:
new_pdata['p15_physicalhealth'].unique()

array(['1 – Strongly disagree', '4 – Agree',
       '3 – Neither agree nor disagree / Not sure', '5 – Strongly agree',
       '2 – Disagree', nan], dtype=object)

In [160]:
# Iterate over columns
for column in new_pdata.columns:
    # Check if the column dtype is object (string)
    if new_pdata[column].dtype == 'object':
        # Convert the column to string type
        new_pdata[column] = new_pdata[column].astype(str)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\264490288.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = new_pdata[column].astype(str)

In [161]:
# Define a dictionary mapping old values to new values
value_map = {
    '1 – Strongly disagree': 'Strongly disagree',
    '2 – Disagree': 'Disagree',
    '3 – Neither agree nor disagree / Not sure': 'Not Sure',
    '4 – Agree': 'Agree',
    '5 – Strongly agree': 'Strongly agree'
}

# Replace values in 'p15_physicalhealth' column
new_pdata['p15_physicalhealth'] = new_pdata['p15_physicalhealth'].map(value_map)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\252520500.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata['p15_physicalhealth'] = new_pdata['p15_physicalhealth'].map(value_map)

In [162]:
col_lst = ['p16_mentalhealth','p17_stablehousing','p18_feedmyself', 'p19_socialrelationships', 'p20_purposefullife','p21_agency', 'p22_optimistic']
for col in col_lst:
    new_pdata[col] = new_pdata[col].map(value_map)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3329239412.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[col] = new_pdata[col].map(value_map)
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3329239412.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[col] = new_pdata[col].map(value_map)
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3329239412.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[col] = new_pdata[col].map(value_map)
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3329239412.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[col] = new_pdata[col].map(value_map)
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3329239412.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[col] = new_pdata[col].map(value_map)
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3329239412.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[col] = new_pdata[col].map(value_map)
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3329239412.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[col] = new_pdata[col].map(value_map)

In [163]:
new_pdata['p23_publicvalueswork'].unique()

array(['No', 'I’m not sure', 'Yes', 'nan'], dtype=object)

In [164]:
new_pdata['p24_articulating'] = new_pdata['p24_articulating'].replace('0', 'I’m not sure')
new_pdata['p24_articulating'].unique()

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\721911171.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata['p24_articulating'] = new_pdata['p24_articulating'].replace('0', 'I’m not sure')

array(['No', 'Yes', 'I’m not sure'], dtype=object)

## p38_race column

In [165]:
multiracial_df = new_pdata
multiracial_df.replace('nan', np.nan, inplace=True)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\4143043241.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multiracial_df.replace('nan', np.nan, inplace=True)

In [166]:
columns_to_check = [
    "p38_race2", "p38_race3", "p38_race4", "p38_race5", "p38_race6", "p38_race7", "p38_race8"
]

multiracial_df = new_pdata[new_pdata[columns_to_check].notna().any(axis=1)]

In [167]:
multiracial_df['p38_race2'].unique()

array(['hispanlatinx', 'white', 'raceeth_oth', 'aianfn', 'blackaa',
       'pinh', 'asian', 'raceeth_noans'], dtype=object)

In [168]:
new_pdata['p38_race1'].head()

1     blackaa
7     blackaa
8       white
10      white
11    blackaa
Name: p38_race1, dtype: object

In [169]:
new_pdata.loc[multiracial_df.index, 'p38_race1'] = "Multiracial"
# new_pdata.loc[multiracial_df.index, 'p38_race1'] = "Multiracial"
new_pdata['p38_race1'].unique()

array(['Multiracial', 'blackaa', 'white', 'hispanlatinx', 'asian',
       'aianfn', 'raceeth_oth', 'raceeth_noans', 'araborme', nan, 'pinh'],
      dtype=object)

In [170]:
new_pdata[["p38_race1","p38_race2", "p38_race3", "p38_race4", "p38_race5", "p38_race6", "p38_race7", "p38_race8"]]

,p38_race1,p38_race2,p38_race3,p38_race4,p38_race5,p38_race6,p38_race7,p38_race8
1,Multiracial,hispanlatinx,aianfn,NaN,NaN,NaN,NaN,NaN
7,blackaa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,white,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,white,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,blackaa,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
23792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23793,white,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23794,Multiracial,hispanlatinx,NaN,NaN,NaN,NaN,NaN,NaN
23795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [171]:
# List of columns to drop
columns_to_drop = ["p38_race2", "p38_race3", "p38_race4", "p38_race5", "p38_race6", "p38_race7", "p38_race8"]

# Drop unwanted columns
new_pdata.drop(columns=columns_to_drop, inplace=True)

# Rename g20_raceethnicity1 to g20_raceethnicity
new_pdata.rename(columns={'p38_race1': 'p38_race'}, inplace=True)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3975850386.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata.drop(columns=columns_to_drop, inplace=True)
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3975850386.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata.rename(columns={'p38_race1': 'p38_race'}, inplace=True)

In [172]:
new_pdata['p38_race'].unique()

array(['Multiracial', 'blackaa', 'white', 'hispanlatinx', 'asian',
       'aianfn', 'raceeth_oth', 'raceeth_noans', 'araborme', nan, 'pinh'],
      dtype=object)

## ------------------------------------------------------------------

## Emergency assistance

In [173]:
filtered_data = new_pdata.loc[(new_pdata['p29_emergencyassist'] == 'No') & (new_pdata['p29b_typesofassistance1'].notnull())]
filtered_data

,id,p1_discipline1,p1_discipline2,p1_discipline3,p2_approachtopractice1,p2_approachtopractice2,p2_approachtopractice3,p2_approachtopractice4,p2_approachtopractice5,p2_approachtopractice6,...,p_agerange,p_status,p41_gender1,p41_gender2,p41_gender3,p41_gender4,p41_gender5,p46_caregiving1,p46_caregiving2,p46_caregiving3
13980,OID1P8GAUV,Design,Crafts,Dance,collab_artists,collab_nonartists,solo_artist,public_involvement,teaching_others,NaN,...,35-44,Completed,woman,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
18258,E46UBCD7OR,Crafts,Dance,NaN,solo_artist,NaN,NaN,NaN,NaN,NaN,...,35-44,Completed,twospirit,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
18458,BA7W733BMV,Interdisciplinary Arts,Film,Design,collab_artists,collab_nonartists,solo_artist,public_involvement,perform_present_exhibit,teaching_others,...,25-34,Completed,nonbinary,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
18812,W6JY15QIHO,Interdisciplinary Arts,Crafts,Film,collab_nonartists,solo_artist,public_involvement,perform_present_exhibit,teaching_others,NaN,...,25-34,Completed,nonbinary,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN
23119,DDYTRLUHXY,Music,Oral Traditions,Social Practice,collab_artists,public_involvement,perform_present_exhibit,NaN,NaN,NaN,...,25-34,Funded,woman,NaN,NaN,NaN,NaN,no_caregiving,NaN,NaN

In [174]:
new_pdata.loc[(new_pdata['p29_emergencyassist'] == 'No') & (new_pdata['p29b_typesofassistance1'].notnull()), 'p29b_typesofassistance1'] = np.nan

In [175]:
new_pdata['p29b_typesofassistance1'].unique()

array([nan, 'emergencygrant', 'federalrelief', 'unemploymentbenefits',
       'otherassistance', 'familypersonalassist', 'mutualaid'],
      dtype=object)

In [176]:
# Define the columns
columns_to_add = ['Federal_relief', 'Unemployment_benefits',
                  'Emergency_grant', 'Mutual_aid',
                  'Familypersonal_assist',
                  'Other_assistance']

# Initialize the new columns with zeros
for column in columns_to_add:
    new_pdata[column] = 0

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3899269383.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3899269383.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3899269383.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3899269383.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3899269383.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3899269383.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0

In [177]:
# Define approach values and columns
assistance_values = ['federalrelief', 'unemploymentbenefits',
                     'emergencygrant', 'mutualaid',
                     'familypersonalassist',
                     'otherassistance']

assistance_cols =  ['Federal_relief', 'Unemployment_benefits',
                  'Emergency_grant', 'Mutual_aid',
                  'Familypersonal_assist',
                  'Other_assistance']

# Create a dictionary
assistance_dict = dict(zip(assistance_values, assistance_cols))

print(assistance_dict)

{'federalrelief': 'Federal_relief', 'unemploymentbenefits': 'Unemployment_benefits', 'emergencygrant': 'Emergency_grant', 'mutualaid': 'Mutual_aid', 'familypersonalassist': 'Familypersonal_assist', 'otherassistance': 'Other_assistance'}

In [178]:
# Define the approach columns
assistance_columns = ['p29b_typesofassistance1', 'p29b_typesofassistance2', 'p29b_typesofassistance3',
                      'p29b_typesofassistance4', 'p29b_typesofassistance5','p29b_typesofassistance6']

# Iterate over each row
for index, row in new_pdata.iterrows():
    # Iterate over each approach column
    for assist_column in assistance_columns:
        assistance_values = row[assist_column]

        # Check if the approach value is in the approach_dict keys
        if assistance_values in assistance_dict.keys():
            # Update the corresponding value column with 1
            value_column = assistance_dict[assistance_values]
            new_pdata.at[index, value_column] = 1

In [179]:
new_pdata[columns_to_add]

,Federal_relief,Unemployment_benefits,Emergency_grant,Mutual_aid,Familypersonal_assist,Other_assistance
1,0,0,0,0,0,0
7,0,1,1,0,0,0
8,1,1,0,0,0,0
10,0,0,0,0,0,0
11,1,1,0,0,0,0
...,...,...,...,...,...,...
23792,1,1,0,0,1,0
23793,0,0,0,0,0,0
23794,0,1,0,0,0,0
23795,0,0,0,0,0,0
23796,0,1,0,0,0,0

### dropping the original assistance columns

In [180]:
new_pdata.drop(columns=assistance_columns, inplace=True)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2003482138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata.drop(columns=assistance_columns, inplace=True)

### Employement impact

In [181]:
new_pdata['p30_employimpact1'].unique()

array(['laidofforfired', 'industryshutdown', 'furloughed',
       'newfreelancework', 'freelanceworkcanceled', 'newjob',
       'other_empimpact', 'empnotimpacted', 'leftjob', nan], dtype=object)

In [182]:
new_pdata['p30_employimpact2'].unique()

array(['freelanceworkcanceled', 'industryshutdown', nan, 'furloughed',
       'newjob', 'laidofforfired', 'newfreelancework', 'other_empimpact',
       'empnotimpacted'], dtype=object)

In [183]:
new_pdata['p30_employimpact3'].unique()

array([nan, 'freelanceworkcanceled', 'laidofforfired', 'furloughed',
       'industryshutdown', 'other_empimpact', 'newjob', 'empnotimpacted'],
      dtype=object)

In [184]:
# Define the columns
columns_to_add = ['LaidofforFired', 'IndustryShutdown', 'Furloughed',
       'NewFreelanceWork', 'FreelanceWorkCanceled', 'NewJob',
       'Other_EmpImpact', 'EmpnotImpacted', 'LeftJob']

# Initialize the new columns with zeros
for column in columns_to_add:
    new_pdata[column] = 0

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3898251617.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3898251617.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3898251617.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3898251617.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3898251617.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3898251617.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3898251617.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3898251617.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3898251617.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0

In [185]:
# Define approach values and columns
empimpact_values = ['laidofforfired', 'industryshutdown', 'furloughed',
       'newfreelancework', 'freelanceworkcanceled', 'newjob',
       'other_empimpact', 'empnotimpacted', 'leftjob']

empimpact_cols =  ['LaidofforFired', 'IndustryShutdown', 'Furloughed',
       'NewFreelanceWork', 'FreelanceWorkCanceled', 'NewJob',
       'Other_EmpImpact', 'EmpnotImpacted', 'LeftJob']

# Create a dictionary
empimpact_dict = dict(zip(empimpact_values, empimpact_cols))

print(empimpact_dict)

{'laidofforfired': 'LaidofforFired', 'industryshutdown': 'IndustryShutdown', 'furloughed': 'Furloughed', 'newfreelancework': 'NewFreelanceWork', 'freelanceworkcanceled': 'FreelanceWorkCanceled', 'newjob': 'NewJob', 'other_empimpact': 'Other_EmpImpact', 'empnotimpacted': 'EmpnotImpacted', 'leftjob': 'LeftJob'}

In [186]:
# Define the approach columns
empimp_columns = ['p30_employimpact1','p30_employimpact2','p30_employimpact3',
                  'p30_employimpact4','p30_employimpact5','p30_employimpact6',
                  'p30_employimpact7','p30_employimpact8']

# Iterate over each row
for index, row in new_pdata.iterrows():
    # Iterate over each approach column
    for empimp_column in empimp_columns:
        empimpact_values = row[empimp_column]
        # Check if the approach value is in the approach_dict keys
        if empimpact_values in empimpact_dict.keys():
            # Update the corresponding value column with 1
            value_column = empimpact_dict[empimpact_values]
            new_pdata.at[index, value_column] = 1

In [187]:
new_pdata[empimpact_cols]

,LaidofforFired,IndustryShutdown,Furloughed,NewFreelanceWork,FreelanceWorkCanceled,NewJob,Other_EmpImpact,EmpnotImpacted,LeftJob
1,1,0,0,0,1,0,0,0,0
7,1,0,0,0,1,0,0,0,0
8,1,1,0,0,1,0,0,0,0
10,0,1,0,0,0,0,0,0,0
11,0,1,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...
23792,0,0,0,0,1,1,0,0,0
23793,0,0,0,0,1,0,0,0,0
23794,0,1,0,0,1,0,0,0,1
23795,0,0,0,1,0,0,0,0,0
23796,0,0,1,1,1,0,0,0,1

### dropping the original employ impact columns

In [188]:
new_pdata.drop(columns=empimp_columns, inplace=True)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\413820956.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata.drop(columns=empimp_columns, inplace=True)

### Artistic Practice

In [189]:
new_pdata['p31_artpracticeimpact1'].unique()

array(['canceledtravelprevented', 'newseriesofwork', 'nolongercollab',
       'affordstudio', 'workonline', 'showscanceled', 'lessmotivated',
       'addresscommunityneeds', 'newcollab', 'moremotivated', nan,
       'artspractice_noimpact', 'artpracticeimpact_oth', 'newexhibitions',
       'studioclosed'], dtype=object)

In [190]:
# Define the columns
columns_to_add =  ['ShowsCanceled', 'CanceledTravelPrevented', 'StudioClosed',
                   'AffordStudio','NoLongerCollab', 'LessMotivated', 'MoreMotivated',
                   'NewCollab', 'AddressCommunityNeeds', 'WorkOnline', 'NewSeriesofWork',
                   'NewExhibitions','OtherArtPracticeImpact','ArtsPractice_NoImpact']

# Initialize the new columns with zeros
for column in columns_to_add:
    new_pdata[column] = 0

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\352462723.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\352462723.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\352462723.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\352462723.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\352462723.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\352462723.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\352462723.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\352462723.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\352462723.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\352462723.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\352462723.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\352462723.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\352462723.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\352462723.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0

In [191]:
# Define approach values and columns
artpractice_values = ['showscanceled', 'canceledtravelprevented', 'studioclosed',
                   'affordstudio','nolongercollab', 'lessmotivated', 'moremotivated',
                   'newcollab', 'addresscommunityneeds', 'workonline', 'newseriesofwork',
                   'newexhibitions','artpracticeimpact_oth','artspractice_noimpact']

artpractice_cols =  ['ShowsCanceled', 'CanceledTravelPrevented', 'StudioClosed',
                   'AffordStudio','NoLongerCollab', 'LessMotivated', 'MoreMotivated',
                   'NewCollab', 'AddressCommunityNeeds', 'WorkOnline', 'NewSeriesofWork',
                   'NewExhibitions','OtherArtPracticeImpact','ArtsPractice_NoImpact']

# Create a dictionary
artpractice_dict = dict(zip(artpractice_values, artpractice_cols))

print(artpractice_dict)

{'showscanceled': 'ShowsCanceled', 'canceledtravelprevented': 'CanceledTravelPrevented', 'studioclosed': 'StudioClosed', 'affordstudio': 'AffordStudio', 'nolongercollab': 'NoLongerCollab', 'lessmotivated': 'LessMotivated', 'moremotivated': 'MoreMotivated', 'newcollab': 'NewCollab', 'addresscommunityneeds': 'AddressCommunityNeeds', 'workonline': 'WorkOnline', 'newseriesofwork': 'NewSeriesofWork', 'newexhibitions': 'NewExhibitions', 'artpracticeimpact_oth': 'OtherArtPracticeImpact', 'artspractice_noimpact': 'ArtsPractice_NoImpact'}

In [192]:
# Define the approach columns
artpractice_columns = ['p31_artpracticeimpact1','p31_artpracticeimpact2','p31_artpracticeimpact3',
                  'p31_artpracticeimpact4','p31_artpracticeimpact5','p31_artpracticeimpact6',
                  'p31_artpracticeimpact7','p31_artpracticeimpact8','p31_artpracticeimpact9',
                  'p31_artpracticeimpact10','p31_artpracticeimpact11','p31_artpracticeimpact12',
                       'p31_artpracticeimpact13']

# Iterate over each row
for index, row in new_pdata.iterrows():
    # Iterate over each approach column
    for artpractice_column in artpractice_columns:
        artpractice_values = row[artpractice_column]
        # Check if the approach value is in the approach_dict keys
        if artpractice_values in artpractice_dict.keys():
            # Update the corresponding value column with 1
            value_column = artpractice_dict[artpractice_values]
            new_pdata.at[index, value_column] = 1

In [193]:
new_pdata[artpractice_cols]

,ShowsCanceled,CanceledTravelPrevented,StudioClosed,AffordStudio,NoLongerCollab,LessMotivated,MoreMotivated,NewCollab,AddressCommunityNeeds,WorkOnline,NewSeriesofWork,NewExhibitions,OtherArtPracticeImpact,ArtsPractice_NoImpact
1,1,1,0,1,1,1,0,0,0,0,1,0,0,0
7,1,0,1,0,0,0,1,0,1,1,1,1,0,0
8,0,0,1,0,1,0,0,1,0,0,0,0,1,0
10,0,0,0,0,1,1,0,1,0,0,1,0,0,0
11,1,0,0,0,1,0,1,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23792,0,0,0,0,0,0,0,1,1,1,1,0,0,0
23793,1,0,0,0,1,1,0,0,1,1,1,0,0,0
23794,0,1,1,1,1,0,0,0,0,1,0,0,0,0
23795,1,1,1,1,1,1,1,1,1,1,1,1,0,0
23796,1,1,0,1,1,0,1,1,1,1,1,1,0,0

#### dropping original artpractice columns

In [194]:
new_pdata.drop(columns=artpractice_columns, inplace=True)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\1755177911.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata.drop(columns=artpractice_columns, inplace=True)

In [195]:
new_pdata.shape

(13119, 119)

#### Well being

In [196]:
new_pdata['p32_wellbeingimpact1'].unique()

array(['accumulateddebt', 'anxiety', 'foodinsecurity', 'becamecaregiver',
       'wellbeing_noimpact', 'physicalhealthimprove',
       'mentalhealthimprove', nan, 'selfcareimprove', 'loneliness',
       'gotsick', 'housinginsecurity', 'hadtomove', 'wellbeingimpact_oth'],
      dtype=object)

In [197]:
# Define the columns
columns_to_add =  ['Anxiety','Loneliness','GotSick','FoodInsecurity',
                   'HousingInsecurity','HadtoMove','AccumulatedDebt',
                    'BecameCareGiver', 'SelfCareImprove','MentalHealthImprove',
                   'PhysicalHealthImprove','OtherWellBeingImpact','WellBeing_NoImpact']
# Initialize the new columns with zeros
for column in columns_to_add:
    new_pdata[column] = 0

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2059201520.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2059201520.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2059201520.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2059201520.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2059201520.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2059201520.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2059201520.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2059201520.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2059201520.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2059201520.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2059201520.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2059201520.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0
C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2059201520.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata[column] = 0

In [198]:
# Define approach values and columns
wellbeing_values = ['anxiety','loneliness','gotsick','foodinsecurity',
                   'housinginsecurity','hadtomove','accumulateddebt',
                    'becamecaregiver', 'selfcareimprove','mentalhealthimprove',
                   'physicalhealthimprove','wellbeingimpact_oth','wellbeing_noimpact']

wellbeing_cols =  ['Anxiety','Loneliness','GotSick','FoodInsecurity',
                   'HousingInsecurity','HadtoMove','AccumulatedDebt',
                    'BecameCareGiver', 'SelfCareImprove','MentalHealthImprove',
                   'PhysicalHealthImprove','OtherWellBeingImpact','WellBeing_NoImpact']

# Create a dictionary
wellbeing_dict = dict(zip(wellbeing_values, wellbeing_cols))

print(wellbeing_dict)

{'anxiety': 'Anxiety', 'loneliness': 'Loneliness', 'gotsick': 'GotSick', 'foodinsecurity': 'FoodInsecurity', 'housinginsecurity': 'HousingInsecurity', 'hadtomove': 'HadtoMove', 'accumulateddebt': 'AccumulatedDebt', 'becamecaregiver': 'BecameCareGiver', 'selfcareimprove': 'SelfCareImprove', 'mentalhealthimprove': 'MentalHealthImprove', 'physicalhealthimprove': 'PhysicalHealthImprove', 'wellbeingimpact_oth': 'OtherWellBeingImpact', 'wellbeing_noimpact': 'WellBeing_NoImpact'}

In [199]:
# Define the approach columns
wellbeing_columns = ['p32_wellbeingimpact1','p32_wellbeingimpact2','p32_wellbeingimpact3',
                  'p32_wellbeingimpact4','p32_wellbeingimpact5','p32_wellbeingimpact6',
                  'p32_wellbeingimpact7','p32_wellbeingimpact8','p32_wellbeingimpact9',
                  'p32_wellbeingimpact10','p32_wellbeingimpact11','p32_wellbeingimpact12']

# Iterate over each row
for index, row in new_pdata.iterrows():
    # Iterate over each approach column
    for wellbeing_column in wellbeing_columns:
        wellbeing_values = row[wellbeing_column]
        # Check if the approach value is in the approach_dict keys
        if wellbeing_values in wellbeing_dict.keys():
            # Update the corresponding value column with 1
            value_column = wellbeing_dict[wellbeing_values]
            new_pdata.at[index, value_column] = 1

In [200]:
new_pdata[wellbeing_cols]

,Anxiety,Loneliness,GotSick,FoodInsecurity,HousingInsecurity,HadtoMove,AccumulatedDebt,BecameCareGiver,SelfCareImprove,MentalHealthImprove,PhysicalHealthImprove,OtherWellBeingImpact,WellBeing_NoImpact
1,1,1,1,1,1,0,1,1,0,0,0,0,0
7,1,1,0,0,0,0,0,0,0,0,0,0,0
8,1,1,0,1,0,1,1,0,0,0,0,0,0
10,1,1,1,1,1,0,1,0,0,0,0,0,0
11,1,0,0,0,0,0,1,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23792,1,1,0,0,0,0,0,0,1,1,0,0,0
23793,1,1,1,0,1,1,1,0,0,0,0,0,0
23794,1,0,1,1,1,1,1,0,1,0,0,0,0
23795,1,1,1,0,0,0,1,0,1,1,1,0,0
23796,1,1,1,0,0,0,0,0,1,0,0,0,0

In [201]:
new_pdata.drop(columns=wellbeing_columns, inplace=True)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3655629671.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata.drop(columns=wellbeing_columns, inplace=True)

In [202]:
new_pdata.shape

(13119, 120)

In [203]:
new_pdata['p35_region'].unique()

array(['New York City', 'Southern Tier', 'Mid-Hudson', 'Capital Region',
       'Finger Lakes', nan, 'Long Island', 'Western New York',
       'Central New York', 'Mohawk Valley', 'North Country',
       'Western New Yorkâ€¯'], dtype=object)

**Replacing 'Western New Yorkâ€¯' with 'Western New York'**

In [204]:
new_pdata['p35_region'] = new_pdata['p35_region'].replace({'Western New Yorkâ€¯': 'Western New York'})

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\294708315.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata['p35_region'] = new_pdata['p35_region'].replace({'Western New Yorkâ€¯': 'Western New York'})

In [205]:
new_pdata['p35_region'].unique()

array(['New York City', 'Southern Tier', 'Mid-Hudson', 'Capital Region',
       'Finger Lakes', nan, 'Long Island', 'Western New York',
       'Central New York', 'Mohawk Valley', 'North Country'], dtype=object)

In [206]:
new_pdata['p40_language'].unique()

array(['English', 'Spanish', 'Other (please describe)', 'Russian',
       'Korean', 'Mandarin or Cantonese', 'Polish', 'Italian', 'Arabic',
       nan, 'Haitian Creole', 'Prefer not to answer', 'Bengali',
       'Other (please describe):', 'Yiddish'], dtype=object)

### p41_gender

In [207]:
new_pdata['new_gender'] = new_pdata['p41_gender1']

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\1609173116.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata['new_gender'] = new_pdata['p41_gender1']

**Non-binary**

In [208]:
import numpy as np

# Condition 1
condition_1 = (new_pdata['p41_gender1'] == 'nonbinary') & (new_pdata['p41_gender2'] == 'woman') & new_pdata['p41_gender3'].isnull() & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_1, 'new_gender'] = 'nonbinary'

# Condition 2
condition_2 = (new_pdata['p41_gender1'] == 'man') & (new_pdata['p41_gender2'] == 'nonbinary') & new_pdata['p41_gender3'].isnull() & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_2, 'new_gender'] = 'nonbinary'

# Condition 3
condition_3 = (new_pdata['p41_gender1'] == 'man') & (new_pdata['p41_gender2'] == 'nonbinary') & (new_pdata['p41_gender3'] == 'woman') & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_3, 'new_gender'] = 'nonbinary'

**Two spirit**

In [209]:
# Condition 1
condition_1 = (new_pdata['p41_gender1'] == 'twospirit') & (new_pdata['p41_gender2'] == 'woman') & new_pdata['p41_gender3'].isnull() & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_1, 'new_gender'] = 'twospirit'

# Condition 2
condition_2 = (new_pdata['p41_gender1'] == 'man') & (new_pdata['p41_gender2'] == 'twospirit') & new_pdata['p41_gender3'].isnull() & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_2, 'new_gender'] = 'twospirit'

# Condition 3
condition_3 = (new_pdata['p41_gender1'] == 'man') & (new_pdata['p41_gender2'] == 'woman') & new_pdata['p41_gender3'].isnull() & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_3, 'new_gender'] = 'twospirit'

condition_4 = (new_pdata['p41_gender1'] == 'man') & (new_pdata['p41_gender2'] == 'twospirit') & (new_pdata['p41_gender3'] == 'woman') & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_4, 'new_gender'] = 'twospirit'

**others**

In [210]:
import numpy as np

# Condition 1
condition_1 = (new_pdata['p41_gender1'] == 'nonbinary') & (new_pdata['p41_gender2'] == 'gender_oth') & new_pdata['p41_gender3'].isnull() & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_1, 'new_gender'] = 'gender_oth'

# Condition 2
condition_2 = (new_pdata['p41_gender1'] == 'gender_oth') & (new_pdata['p41_gender2'] == 'woman') & new_pdata['p41_gender3'].isnull() & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_2, 'new_gender'] = 'gender_oth'

# Condition 3
condition_3 = (new_pdata['p41_gender1'] == 'man') & (new_pdata['p41_gender2'] == 'gender_oth') & new_pdata['p41_gender3'].isnull() & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_3, 'new_gender'] = 'gender_oth'

# Condition 4
condition_4 = (new_pdata['p41_gender1'] == 'nonbinary') & (new_pdata['p41_gender2'] == 'gender_oth') & (new_pdata['p41_gender3'] == 'woman') & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_4, 'new_gender'] = 'gender_oth'

# Condition 5
condition_5 = (new_pdata['p41_gender1'] == 'man') & (new_pdata['p41_gender2'] == 'nonbinary') & (new_pdata['p41_gender3'] == 'gender_oth') & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_5, 'new_gender'] = 'gender_oth'

# Condition 6
condition_6 = (new_pdata['p41_gender1'] == 'nonbinary') & (new_pdata['p41_gender2'] == 'gender_oth') & (new_pdata['p41_gender3'] == 'twospirit') & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_6, 'new_gender'] = 'gender_oth'

# Condition 7
condition_7 = (new_pdata['p41_gender1'] == 'man') & (new_pdata['p41_gender2'] == 'nonbinary') & (new_pdata['p41_gender3'] == 'gender_oth') & (new_pdata['p41_gender4'] == 'woman') & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_7, 'new_gender'] = 'gender_oth'

# Condition 8
condition_8 = (new_pdata['p41_gender1'] == 'man') & (new_pdata['p41_gender2'] == 'nonbinary') & (new_pdata['p41_gender3'] == 'gender_oth') & (new_pdata['p41_gender4'] == 'twospirit') & (new_pdata['p41_gender5'] == 'woman')
new_pdata.loc[condition_8, 'new_gender'] = 'gender_oth'

# Condition 9
condition_9 = (new_pdata['p41_gender1'] == 'man') & (new_pdata['p41_gender2'] == 'nonbinary') & (new_pdata['p41_gender3'] == 'gender_oth') & (new_pdata['p41_gender4'] == 'twospirit') & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_9, 'new_gender'] = 'gender_oth'

# Condition 10
condition_10 = (new_pdata['p41_gender1'] == 'gender_oth') & (new_pdata['p41_gender2'] == 'twospirit') & (new_pdata['p41_gender3'] == 'woman') & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_10, 'new_gender'] = 'gender_oth'

# Condition 11
condition_11 = (new_pdata['p41_gender1'] == 'man') & (new_pdata['p41_gender2'] == 'gender_oth') & (new_pdata['p41_gender3'] == 'woman') & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_11, 'new_gender'] = 'gender_oth'

**prefer not to answer**

In [211]:
# Condition 1
condition_1 = (new_pdata['p41_gender1'] == 'gender_noanswer') & (new_pdata['p41_gender2'] == 'man') & new_pdata['p41_gender3'].isnull() & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_1, 'new_gender'] = 'gender_noanswer'

# Condition 2
condition_2 = (new_pdata['p41_gender1'] == 'gender_noanswer') & (new_pdata['p41_gender2'] == 'woman') & new_pdata['p41_gender3'].isnull() & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_2, 'new_gender'] = 'gender_noanswer'

# Condition 3
condition_3 = (new_pdata['p41_gender1'] == 'gender_noanswer') & (new_pdata['p41_gender2'] == 'gender_oth') & new_pdata['p41_gender3'].isnull() & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_3, 'new_gender'] = 'gender_noanswer'

# Condition 4
condition_4 = (new_pdata['p41_gender1'] == 'gender_noanswer') & (new_pdata['p41_gender2'] == 'nonbinary') & new_pdata['p41_gender3'].isnull() & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_4, 'new_gender'] = 'gender_noanswer'

# Condition 5
condition_5 = (new_pdata['p41_gender1'] == 'gender_noanswer') & (new_pdata['p41_gender2'] == 'man') & (new_pdata['p41_gender3'] == 'twospirit') & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_5, 'new_gender'] = 'gender_noanswer'

# Condition 6
condition_6 = (new_pdata['p41_gender1'] == 'gender_noanswer') & (new_pdata['p41_gender2'] == 'nonbinary') & (new_pdata['p41_gender3'] == 'twospirit') & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_6, 'new_gender'] = 'gender_noanswer'

# Condition 7
condition_7 = (new_pdata['p41_gender1'] == 'gender_noanswer') & (new_pdata['p41_gender2'] == 'nonbinary') & (new_pdata['p41_gender3'] == 'woman') & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_7, 'new_gender'] = 'gender_noanswer'

# Condition 8
condition_8 = (new_pdata['p41_gender1'] == 'gender_noanswer') & (new_pdata['p41_gender2'] == 'man') & (new_pdata['p41_gender3'] == 'nonbinary') & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_8, 'new_gender'] = 'gender_noanswer'

In [212]:
# Assuming 'g23_gender1', 'g23_gender2', 'updated_gender1' are columns in your DataFrame
NB_selected_rows = new_pdata[new_pdata['new_gender'] == 'gender_noanswer'][['p41_gender1', 'p41_gender2', 'new_gender']]

# Display the shape of the selected rows DataFrame
NB_selected_rows

           p41_gender1 p41_gender2       new_gender
78     gender_noanswer         man  gender_noanswer
92     gender_noanswer         NaN  gender_noanswer
252    gender_noanswer         NaN  gender_noanswer
429    gender_noanswer         NaN  gender_noanswer
461    gender_noanswer         NaN  gender_noanswer
...                ...         ...              ...
22647  gender_noanswer       woman  gender_noanswer
23310  gender_noanswer         NaN  gender_noanswer
23422  gender_noanswer         man  gender_noanswer
23487  gender_noanswer         NaN  gender_noanswer
23553  gender_noanswer         NaN  gender_noanswer

[292 rows x 3 columns]

In [213]:
condition_1 = (new_pdata['p41_gender1'] == 'nonbinary') & (new_pdata['p41_gender2'] == 'twospirit') & new_pdata['p41_gender3'].isnull() & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_1, 'new_gender'] = 'dualidentity'

# Condition 2
condition_2 = (new_pdata['p41_gender1'] == 'nonbinary') & (new_pdata['p41_gender2'] == 'twospirit') & (new_pdata['p41_gender3'] == 'woman') & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_2, 'new_gender'] = 'dualidentity'

# Condition 3
condition_3 = (new_pdata['p41_gender1'] == 'man') & (new_pdata['p41_gender2'] == 'nonbinary') & (new_pdata['p41_gender3'] == 'twospirit') & new_pdata['p41_gender4'].isnull() & new_pdata['p41_gender5'].isnull()
new_pdata.loc[condition_3, 'new_gender'] = 'dualidentity'

## Provide Care

In [214]:
new_pdata['p46_caregiving1'].unique()

array(['no_caregiving', 'child', 'providecare_noans', 'spouse_partner',
       'adult', nan], dtype=object)

In [215]:
# Create a dictionary to map values
caregiving_mapping = {
    'no_caregiving': 'No',
    'child': 'Yes',
    'providecare_noans': 'Yes',
    'spouse_partner': 'Yes',
    'adult': 'Yes'
}

# Create a new column based on the mapping
new_pdata['caregiving_status'] = new_pdata['p46_caregiving1'].map(caregiving_mapping)

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\2509720410.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata['caregiving_status'] = new_pdata['p46_caregiving1'].map(caregiving_mapping)

In [222]:
# Display both columns
new_pdata.loc[:, ['p46_caregiving1', 'caregiving_status']].head(50)

      p46_caregiving1 caregiving_status
1       no_caregiving                No
7       no_caregiving                No
8       no_caregiving                No
10      no_caregiving                No
11      no_caregiving                No
12      no_caregiving                No
14      no_caregiving                No
16      no_caregiving                No
17      no_caregiving                No
18      no_caregiving                No
19      no_caregiving                No
20      no_caregiving                No
21      no_caregiving                No
22              child               Yes
24      no_caregiving                No
25      no_caregiving                No
27  providecare_noans               Yes
29      no_caregiving                No
30  providecare_noans               Yes
31      no_caregiving                No
32      no_caregiving                No
33      no_caregiving                No
34      no_caregiving                No
35              child               Yes
39      no_caregiving                No
42      no_caregiving                No
43      no_caregiving                No
45      no_caregiving                No
47              child               Yes
48      no_caregiving                No
49     spouse_partner               Yes
50              child               Yes
51              child               Yes
53      no_caregiving                No
56      no_caregiving                No
58              child               Yes
59      no_caregiving                No
60      no_caregiving                No
64      no_caregiving                No
65              child               Yes
66      no_caregiving                No
68      no_caregiving                No
69              adult               Yes
71      no_caregiving                No
75      no_caregiving                No
76              adult               Yes
77      no_caregiving                No
78              adult               Yes
79              child               Yes
82      no_caregiving                No

In [223]:
# Define a function to count non-null values in the specified columns
def count_non_null(row):
    caregiving_columns = ['p46_caregiving1', 'p46_caregiving2', 'p46_caregiving3']
    if row['caregiving_status'] == 'Yes':
        return row[caregiving_columns].notnull().sum()
    else:
        return 0

# Apply the function row-wise to create the new column caregiving_count
new_pdata['caregiving_count'] = new_pdata.apply(count_non_null, axis=1)

# Display the DataFrame with the new column
print(new_pdata[['p46_caregiving1', 'p46_caregiving2', 'p46_caregiving3', 'caregiving_status', 'caregiving_count' ]])

      p46_caregiving1 p46_caregiving2 p46_caregiving3 caregiving_status  \
1       no_caregiving             NaN             NaN                No
7       no_caregiving             NaN             NaN                No
8       no_caregiving             NaN             NaN                No
10      no_caregiving             NaN             NaN                No
11      no_caregiving             NaN             NaN                No
...               ...             ...             ...               ...
23792             NaN             NaN             NaN               NaN
23793   no_caregiving             NaN             NaN                No
23794   no_caregiving             NaN             NaN                No
23795             NaN             NaN             NaN               NaN
23796             NaN             NaN             NaN               NaN

       caregiving_count
1                     0
7                     0
8                     0
10                    0
11                    0
...                 ...
23792                 0
23793                 0
23794                 0
23795                 0
23796                 0

[13119 rows x 5 columns]

C:\Users\sawan\AppData\Local\Temp\ipykernel_42496\3795274597.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pdata['caregiving_count'] = new_pdata.apply(count_non_null, axis=1)

In [225]:
new_pdata.loc[:, ['p46_caregiving1', 'p46_caregiving2', 'caregiving_status', 'caregiving_count']].head(50)

      p46_caregiving1 p46_caregiving2 caregiving_status  caregiving_count
1       no_caregiving             NaN                No                 0
7       no_caregiving             NaN                No                 0
8       no_caregiving             NaN                No                 0
10      no_caregiving             NaN                No                 0
11      no_caregiving             NaN                No                 0
12      no_caregiving             NaN                No                 0
14      no_caregiving             NaN                No                 0
16      no_caregiving             NaN                No                 0
17      no_caregiving             NaN                No                 0
18      no_caregiving             NaN                No                 0
19      no_caregiving             NaN                No                 0
20      no_caregiving             NaN                No                 0
21      no_caregiving             NaN                No                 0
22              child             NaN               Yes                 1
24      no_caregiving             NaN                No                 0
25      no_caregiving             NaN                No                 0
27  providecare_noans           adult               Yes                 2
29      no_caregiving             NaN                No                 0
30  providecare_noans             NaN               Yes                 1
31      no_caregiving             NaN                No                 0
32      no_caregiving             NaN                No                 0
33      no_caregiving             NaN                No                 0
34      no_caregiving             NaN                No                 0
35              child             NaN               Yes                 1
39      no_caregiving             NaN                No                 0
42      no_caregiving             NaN                No                 0
43      no_caregiving             NaN                No                 0
45      no_caregiving             NaN                No                 0
47              child             NaN               Yes                 1
48      no_caregiving             NaN                No                 0
49     spouse_partner             NaN               Yes                 1
50              child             NaN               Yes                 1
51              child             NaN               Yes                 1
53      no_caregiving             NaN                No                 0
56      no_caregiving             NaN                No                 0
58              child             NaN               Yes                 1
59      no_caregiving             NaN                No                 0
60      no_caregiving             NaN                No                 0
64      no_caregiving             NaN                No                 0
65              child             NaN               Yes                 1
66      no_caregiving             NaN                No                 0
68      no_caregiving             NaN                No                 0
69              adult             NaN               Yes                 1
71      no_caregiving             NaN                No                 0
75      no_caregiving             NaN                No                 0
76              adult             NaN               Yes                 1
77      no_caregiving             NaN                No                 0
78              adult             NaN               Yes                 1
79              child             NaN               Yes                 1
82      no_caregiving             NaN                No                 0

In [227]:
new_pdata.to_csv('survey_data.csv', index=False)

In [5]:
data['g16_county'].unique()

array(['Erie County \xa0 ', nan, 'New York County (Manhattan) \xa0 ',
       'Kings County (Brooklyn)  ', 'Queens County \xa0 ',
       'Broome County \xa0 ', 'Ulster County \xa0 ',
       'Suffolk County \xa0 ', 'Albany County \xa0 ',
       'Greene County \xa0 ', 'Monroe County \xa0 ', 'Saratoga County  ',
       'Nassau County \xa0 ', 'Oneida County \xa0 ',
       'Orange County \xa0 ', 'Rensselaer County \xa0 ',
       'Columbia County \xa0 ', 'Bronx County \xa0 ',
       'Herkimer County \xa0 ', 'Westchester County \xa0\xa0 ',
       'Tompkins County \xa0 ', 'Onondaga County \xa0 ',
       'Dutchess County \xa0 ', 'Putnam County \xa0 ',
       'Oswego County \xa0 ', 'Warren County \xa0 ',
       'Otsego County \xa0 ', 'Franklin County \xa0 ',
       'Rockland County \xa0 ', 'Richmond County (Staten Island) \xa0 ',
       'Allegany County \xa0 ', 'Essex County \xa0 ',
       'Niagara County \xa0 ', 'Cayuga County \xa0 ',
       'Wyoming County \xa0 ', 'Clinton County \xa0 ',
       'Chemung County \xa0 ', 'Ontario County \xa0 ',
       'Washington County \xa0\xa0 ', 'St. Lawrence County \xa0 ',
       'Jefferson County \xa0 ', 'Wayne County \xa0 ',
       'Seneca County \xa0 ', 'Sullivan County \xa0 ',
       'Delaware County \xa0 ', 'Chautauqua County \xa0\xa0 ',
       'Genesee County \xa0 ', 'Montgomery County \xa0 ',
       'Livingston County \xa0 ', 'Schuyler County \xa0 ',
       'Schenectady County \xa0 ', 'Chenango County \xa0 ',
       'Orleans County \xa0 ', 'Fulton County \xa0 ',
       'Steuben County \xa0 ', 'Cortland County \xa0 ',
       'Schoharie County \xa0 ', 'Cattaraugus County \xa0 ',
       'Madison County \xa0 ', 'Tioga County \xa0 ', 'Lewis County \xa0 ',
       'Yates County \xa0 '], dtype=object)